Import libraries

In [2]:
!pip install beautifulsoup4
!pip install Selenium
!pip install webdriver-manager

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)
Collecting Selenium
  Downloading selenium-4.23.1-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: urllib3<3,>=1.26 in /usr/local/lib/python3.10/dist-packages (from urllib3[socks]<3,>=1.26->Selenium) (2.0.7)
Collecting trio~=0.17 (from Selenium)
  Downloading trio-0.26.1-py3-none-any.whl.metadata (8.6 kB)
Collecting trio-websocket~=0.9 (from Selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.10/dist-packages (from Selenium) (2024.7.4)
Requirement already satisfied: typing_extensions~=4.9 in /usr/local/lib/python3.10/dist-packages (from Selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in /usr/local/lib/python3.10/dist-packages (from Selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->Selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->Selenium) (3.7)
Collecting outcome (from trio~=0.17->Selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->Selenium) (1.3.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->Selenium) (1.2.2)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->Selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from urllib3[socks]<3,>=1.26->Selenium) (1.7.1)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->Selenium)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Downloading selenium-4.23.1-py3-none-any.whl (9.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.4/9.4 MB 27.2 MB/s eta 0:00:00
Downloading trio-0.26.1-py3-none-any.whl (475 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 475.7/475.7 kB 17.3 MB/s eta 0:00:00
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 3.5 MB/s eta 0:00:00
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, Selenium
Successfully installed Selenium-4.23.1 h11-0.14.0 outcome-1.3.0.post0 trio-0.26.1 trio-websocket-0.11.1 wsproto-1.2.0
Collecting webdriver-manager
  Downloading webdriver_manager-4.0.2-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from webdriver-manager) (2.31.0)
Collecting python-dotenv (from webdriver-manager)
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from webdriver-manager) (24.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->webdriver-manager) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->webdriver-manager) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->webdriver-manager) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->webdriver-manager) (2024.7.4)
Downloading webdriver_manager-4.0.2-py2.py3-none-any.whl (27 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv, webdriver-manager
Successfully installed python-dotenv-1.0.1 webdriver-manager-4.0.2

In [3]:
!apt-get update
!apt-get install chromium-driver

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Ign:3 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [908 kB]
Get:14 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,552 kB]
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,218 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,131 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,787 kB]
Get:18 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,118 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,421 kB]
Get:20 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [27.8 kB]
Fetched 19.5 MB in 8s (2,288 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Note, selecting 'chromium-chromedriver' instead of 'chromium-driver'
The following additional packages will be installed:
  apparmor chromium-browser libfuse3-3 liblzo2-2 libudev1 snapd squashfs-tools systemd-hwe-hwdb
  udev
Suggested packages:
  apparmor-profiles-extra apparmor-utils fuse3 zenity | kdialog
The following NEW packages will be installed:
  apparmor chromium-browser chromium-chromedriver libfuse3-3 liblzo2-2 snapd squashfs-tools
  systemd-hwe-hwdb udev
The following packages will be upgraded:
  libudev1
1 upgraded, 9 newly installed, 0 to remove and 47 not upgraded.
Need to get 28.5 MB of archives.
After this operation, 118 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 apparmor amd64 3.0.4-2ubuntu2.3 [595 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblzo2-2 amd64 2.10-2build3 [53.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 squashfs-tools amd64 1:4.5-3build1 [159 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libudev1 amd64 249.11-0ubuntu3.12 [78.2 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 udev amd64 249.11-0ubuntu3.12 [1,557 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfuse3-3 amd64 3.10.5-1build1 [81.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 snapd amd64 2.63+22.04ubuntu0.1 [25.9 MB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 chromium-browser amd64 1:85.0.4183.83-0ubuntu2.22.04.1 [49.2 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 chromium-chromedriver amd64 1:85.0.4183.83-0ubuntu2.22.04.1 [2,308 B]
Get:10 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 systemd-hwe-hwdb all 249.11.5 [3,228 B]
Fetched 28.5 MB in 2s (12.0 MB/s)
Preconfiguring packages ...
Selecting previously unselected package apparmor.
(Reading database ... 123598 files and directories currently installed.)
Preparing to unpack .../apparmor_3.0.4-2ubuntu2.3_amd64.deb ...
Unpacking apparmor (3.0.4-2ubuntu2.3) ...
Selecting previously unselected package liblzo2-2:amd64.
Preparing to unpack .../liblzo2-2_2.10-2build3_amd64.deb ...
Unpacking liblzo2-2:amd64 (2.10-2build3) ...
Selecting previously unselected package squashfs-tools.
Preparing to unpack .../squashfs-tools_1%3a4.5-3build1_amd64.deb ...
Unpacking squashfs-tools (1:4.5-3build1) ...
Preparing to unpack .../libudev1_249.11-0ubuntu3.12_amd64.deb ...
Unpacking libudev1:amd64 (249.11-0ubuntu3.12) over (249.11-0ubuntu3.10) ...
Setting up libudev1:amd64 (249.11-0ubuntu3.12) ...
Selecting previously unselected package udev.
(Reading database ... 123806 files and directories currently installed.)
Preparing to unpack .../udev_249.11-0ubuntu3.12_amd64.deb ...
Unpacking udev (249.11-0ubuntu3.12) ...
Selecting previously unselected package libfuse3-3:amd64.
Preparing to unpack .../libfuse3-3_3.10.5-1build1_amd64.deb ...
Unpacking libfuse3-3:amd64 (3.10.5-1build1) ...
Selecting previously unselected package snapd.
Preparing to unpack .../snapd_2.63+22.04ubuntu0.1_amd64.deb ...
Unpacking snapd (2.63+22.04ubuntu0.1) ...
Setting up apparmor (3.0.4-2ubuntu2.3) ...
Created symlink /etc/systemd/system/sysinit.target.wants/apparmor.service → /lib/systemd/system/apparmor.service.
Setting up liblzo2-2:amd64 (2.10-2build3) ...
Setting up squashfs-tools (1:4.5-3build1) ...
Setting up udev (249.11-0ubuntu3.12) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libfuse3-3:amd64 (3.10.5-1build1) ...
Setting up snapd (2.63+22.04ubuntu0.1) ...
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.apparmor.service → /lib/systemd/system/snapd.apparmor.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.autoimport.service → /lib/systemd/system/snapd.autoimport.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.core-fixup.service → /lib/systemd/system/snapd.core-fixup.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.recovery-chooser-trigger.service → /lib/systemd/system/snapd.recovery-chooser-trigger.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.seeded.service → /lib/systemd/system/snapd.seeded.service.
Created symlink /etc/systemd/system/cloud-final.service.wants/snapd.seeded.service → /lib/systemd/system/snapd.seeded.service.
Unit /lib/systemd/system/snapd.seeded.service is added as a dependency to a non-existent unit cloud-final.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.service → /lib/systemd/system/snapd.service.
Created symlink /etc/systemd/system/timers.target.wants/snapd.snap-repair.timer → /lib/systemd/system/snapd.snap-repair.timer.
Created symlink /etc/systemd/system/sockets.target.wants/snapd.socket → /lib/systemd/system/snapd.socket.
Created symlink /etc/systemd/system/final.target.wants/snapd.system-shutdown.service → /lib/systemd/system/snapd.system-shutdown.service.
Selecting previously unselected package chromium-browser.
(Reading database ... 124036 files and directories currently installed.)
Preparing to unpack .../chromium-browser_1%3a85.0.4183.83-0ubuntu2.22.04.1_amd64.deb ...
=> Installing the chromium snap
==> Checking connectivity with the snap store
===> System doesn't have a working snapd, skipping
Unpacking chromium-browser (1:85.0.4183.83-0ubuntu2.22.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_1%3a85.0.4183.83-0ubuntu2.22.04.1_amd64.deb ...
Unpacking chromium-chromedriver (1:85.0.4183.83-0ubuntu2.22.04.1) ...
Selecting previously unselected package systemd-hwe-hwdb.
Preparing to unpack .../systemd-hwe-hwdb_249.11.5_all.deb ...
Unpacking systemd-hwe-hwdb (249.11.5) ...
Setting up systemd-hwe-hwdb (249.11.5) ...
Setting up chromium-browser (1:85.0.4183.83-0ubuntu2.22.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (1:85.0.4183.83-0ubuntu2.22.04.1) ...
Processing triggers for udev (249.11-0ubuntu3.12) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Processing triggers for dbus (1.12.20-2ubuntu4.1) ...

In [4]:
import selenium
import requests
import time
import pandas as pd
import copy

from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, JavascriptException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
from pprint import pprint

#Mount the google drive
from google.colab import drive
import os

drive.mount("/content/gdrive")
path = "/content/gdrive/MyDrive/Colab Notebooks/csv"

os.chdir(path)

Mounted at /content/gdrive

# Scope of webscraping:

In [ ]:
def web_driver():
  options = webdriver.ChromeOptions()
  options.add_argument("--verbose")
  options.add_argument('--headless')
  options.add_argument('--no-sandbox')
  options.add_argument('--disable-gpu')
  options.add_argument("--window-size=1920, 1200")
  options.add_argument('--disable-dev-shm-usage')
  driver = webdriver.Chrome(options=options)
  return driver

driver = web_driver()

driver.implicitly_wait(30)

card_listings = []

parent_url = ""

while parent_url != "https://www.zigwheels.ph/used-cars?p=29500000-40000000" or button4 != None:

  if parent_url == "":
    parent_url = "https://www.zigwheels.ph/used-cars?p=5000001-40000000"

  driver.get(parent_url)

  action = ActionChains(driver)

  WebDriverWait(driver, 30).until(EC.invisibility_of_element_located((By.ID, "used_lead_overlay_loader")))

  button1 = driver.find_element(By.XPATH, "//button[@class='btn-line btn-mini btn-sort grey sort-button uc__dropdown desc']")
  button2 = driver.find_element(By.XPATH, "//input[@id='p-l-h']")
  #button3 = driver.find_element(By.XPATH, "//a[@id='btn-view-all']")

  button1.click()
  button2.click()
  #button3.click()

  # Scroll to the button1 element to make it visible
  driver.execute_script("arguments[0].scrollIntoView();", button1)
  action.move_to_element(to_element=button1)
  action.click(on_element=button1)

  # Wait for the element to become visible after clicking button1
  time.sleep(2) # Adjust the wait time as needed

  # Scroll to button2 and click
  driver.execute_script("arguments[0].scrollIntoView();", button2)
  action.move_to_element(to_element=button2)
  action.click(on_element=button2)

  #driver.execute_script("arguments[0].scrollIntoView();", button3)
  #driver.execute_script("arguments[0].click();", button3)

  time.sleep(2)

  try:
    action.perform()
  except JavascriptException:
    break

  soup = BeautifulSoup(driver.page_source, 'html.parser')

  car_cards = soup.find_all("li", class_="card splide__slide shadow-light filter-listing-card used-car-card")

  for car_card in car_cards:

    car_card_url = "https://www.zigwheels.ph%s" % (car_card.find("a")["href"])
    print(car_card_url)
    response = requests.get(car_card_url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        page_content = response.text
    else:
        print("Failed to fetch the page. Status code:", response.status_code)

    soup = BeautifulSoup(page_content, "html.parser")

    # Columns for the DataFrame

    ul_class = soup.find("ul", class_="d-flex flex-wrap justify-space-between uc-detail-lists m-sm-b")

    entries = ul_class.find_all("li", class_ = "d-flex align-center m-md-b")

    # Extract the keys for the dictionary
    keys = []
    for entry in entries:
        img_tag = entry.find("img")
        if img_tag and 'alt' in img_tag.attrs:
            keys.append(img_tag['alt'].lower().replace(" ", "_"))

    # Extract the values of the "alt" attribute for the dictionary
    ul_class = soup.find("ul", class_="d-flex flex-wrap justify-space-between uc-detail-lists m-sm-b").find_all("span")

    # Create a dictionary from the keys and values

    car_card = {}

    model = soup.find("h2", class_="m-md-b").text
    price = soup.find("span", class_="f-24 f-bold vh-price").text
    car_card["model"] = model
    car_card["price"] = price

    for key in keys:
      car_card[key] = ul_class[keys.index(key)].text

    card_listings.append(car_card)
    time.sleep(1)

  url_split = parent_url.split("=")
  range_split = url_split[1].split("-")

  if "Million" in price:
    latest_price = price
    latest_price = latest_price.split(" ")[0]
    latest_price = latest_price.split("₱")[1]
    latest_price = int(float(latest_price) * 1000000)

    parent_url = url_split[0] + "=" + f"{latest_price}" + "-" + range_split[1]

  else:
    latest_price = price
    latest_price = latest_price.split(" ")[0]
    latest_price = latest_price.split("₱")[1]
    remove_comma = latest_price.split(",")
    latest_price = ""

    for str in remove_comma:
      latest_price += str

    parent_url = url_split[0] + "=" + latest_price + "-" + range_split[1]

  url_split = ""
  range_split = ""
  latest_price = ""

  try:
    button4 = driver.find_element(By.XPATH, "//a[@class='btn-view-all btn-line btn-more arrow-down']")
  except NoSuchElementException:
    button4 = None


# -----------------------------------------------------------------------------
# Create a DataFrame from the dictionary
print("Done!")
df = pd.DataFrame(card_listings)

https://www.zigwheels.ph/detail-used-cars/chevrolet-camaro-6-2l-at-38801
https://www.zigwheels.ph/detail-used-cars/shelby-mustang-5-0l-at-33429
https://www.zigwheels.ph/detail-used-cars/shelby-mustang-gt350-27568
https://www.zigwheels.ph/detail-used-cars/bmw-x5-xdrive30d-43565
https://www.zigwheels.ph/detail-used-cars/chevrolet-bt-cruiser-5-3l-29475
https://www.zigwheels.ph/detail-used-cars/mercedes-benz-s-class-2011-2020-s500-4-7l-44496
https://www.zigwheels.ph/detail-used-cars/porsche-718-boxster-pdk-48464
https://www.zigwheels.ph/detail-used-cars/mercedes-benz-gl-class-350-bluetec-4-matic-42347
https://www.zigwheels.ph/detail-used-cars/land-rover-range-rover-velar-s-d200-with-satin-pack-48870
https://www.zigwheels.ph/detail-used-cars/cadillac-escalade-esv-platinum-38898
https://www.zigwheels.ph/detail-used-cars/cadillac-escalade-esv-platinum-46503
https://www.zigwheels.ph/detail-used-cars/porsche-cayman-pdk-38800
https://www.zigwheels.ph/detail-used-cars/audi-rs5-coupe-2-9l-tfsi-35943
https://www.zigwheels.ph/detail-used-cars/maserati-quattroporte-quattroporte-29790
https://www.zigwheels.ph/detail-used-cars/ford-mustang-shelby-gt500-48714
https://www.zigwheels.ph/detail-used-cars/hyundai-staria-2-2-crdi-premium-8at-awd-7-seater-41697
https://www.zigwheels.ph/detail-used-cars/ford-bronco-badlands-41708
https://www.zigwheels.ph/detail-used-cars/audi-q7-3-0-tdi-quattro-premium-17182
https://www.zigwheels.ph/detail-used-cars/porsche-911-carrera-s-pdk-35648
https://www.zigwheels.ph/detail-used-cars/toyota-land-cruiser-lc300-vx-47243
https://www.zigwheels.ph/detail-used-cars/bentley-continental-gt-v8-47031
https://www.zigwheels.ph/detail-used-cars/bentley-continental-gt-v8-47031
https://www.zigwheels.ph/detail-used-cars/bmw-m3-sedan-competition-3-0l-48431
https://www.zigwheels.ph/detail-used-cars/porsche-718-boxster-gts-4-0-pdk-49093
https://www.zigwheels.ph/detail-used-cars/land-rover-range-rover-hse-d350-44788
https://www.zigwheels.ph/detail-used-cars/maserati-quattroporte-3-0l-44435
https://www.zigwheels.ph/detail-used-cars/toyota-hilux-2-4-j-dsl-4x2-mt-49174
https://www.zigwheels.ph/detail-used-cars/toyota-land-cruiser-lc300-vx-44898
https://www.zigwheels.ph/detail-used-cars/audi-r8-coupe-5-2-l-48875
https://www.zigwheels.ph/detail-used-cars/chevrolet-corvette-6-2l-42354
https://www.zigwheels.ph/detail-used-cars/porsche-911-gt3-pdk-44649
https://www.zigwheels.ph/detail-used-cars/porsche-911-turbo-s-pdk-47247
https://www.zigwheels.ph/detail-used-cars/rolls-royce-ghost-6-6l-44512
https://www.zigwheels.ph/detail-used-cars/cadillac-escalade-esv-platinum-43695
https://www.zigwheels.ph/detail-used-cars/ferrari-f8-tributo-3-9l-48880
https://www.zigwheels.ph/detail-used-cars/bentley-bentayga-v8-48813
https://www.zigwheels.ph/detail-used-cars/lamborghini-urus-4-0-l-47323
https://www.zigwheels.ph/detail-used-cars/lamborghini-urus-4-0-l-47323
Done!

Under 100,000

In [ ]:
df_100k = pd.read_csv("df_100k.csv")
display(df_100k)
df_100k.to_csv("df_100k.csv")

,Unnamed: 0,model,price,registration_year,make_year,fuel_type,body_type,kms_driven,ownership,transmission,city,seats,engine_displacement
0,0,1990 Nissan Sentra 1.6L SGX MT Detail,"₱45,000",1990,1990,Gasoline,Sedan,"61,233 Km",First Owner,Manual,Quezon City,NaN,NaN
1,1,2021 Suzuki Celerio CVT 1.0L Detail,"₱60,000",2024,2021,Gasoline,Hatchback,"12,000 Km",First Owner,Cvt,Pasig,5 seat,998 CC
2,2,1994 Nissan Vanette 2.0L Vanette MT Detail,"₱70,000",2023,1994,Gasoline,Van,"84,710 Km",Second Owner,Manual,Quezon City,NaN,NaN
3,3,2000 Nissan Sentra 1.6L Super Saloon MT Detail,"₱70,000",2024,2000,Gasoline,Sedan,"150,000 Km",Second Owner,Manual,Mandaluyong City,NaN,NaN
4,4,1997 Mazda 3 Sedan 2.0L Premium Detail,"₱75,000",2019,1997,Gasoline,Sedan,"90,000 Km",Third Owner,Automatic,san-fernando,5 seat,1998 CC
5,5,2016 Tata Indigo 1.4L Diesel Detail,"₱75,000",2016,2016,Diesel,Sedan,"109,000 Km",First Owner,Manual,Cebu City,5 seat,1405 CC
6,6,1997 Mitsubishi Lancer 1.6L GLXI Limited AT De...,"₱75,000",2019,1997,Gasoline,Sedan,"200,000 Km",Third Owner,Automatic,Tanza,NaN,NaN
7,7,1993 Honda Civic 1.6L ESI MT Detail,"₱80,000",2023,1993,Gasoline,Sedan,"10,000 Km",Second Owner,Manual,Tarlac City,NaN,NaN
8,8,1994 Honda Civic S Turbo CVT Honda Sensing Detail,"₱90,000",2020,1994,Gasoline,Sedan,"50,000 Km",Second Owner,Cvt,san-mateo,5 seat,1498 CC
9,9,2010 Nissan Sentra 1.3L GX MT Detail,"₱100,000",2010,2010,Gasoline,Sedan,"300,000 Km",Second Owner,Manual,Bacoor,NaN,NaN
10,10,1994 Toyota RAV 4 2.5L LE AT Detail,"₱100,000",2015,1994,Gasoline,Suv,"70,000 Km",Second Owner,Automatic,"Mabini, Batangas",NaN,NaN

Under 150,000

In [ ]:
df_150k = pd.read_csv("df_150k.csv")
display(df_150k)
df_150k.to_csv("df_150k.csv")

,Unnamed: 0,model,price,registration_year,make_year,fuel_type,body_type,kms_driven,ownership,transmission,city,seats,engine_displacement
0,0,1993 Toyota Corona 2.0L EX Saloon MT Detail,"₱115,000",1993.0,1993,Gasoline,Sedan,"120,000 Km",Second Owner,Manual,Cavite City,NaN,NaN
1,1,2005 Ford Focus Sedan 1.8L Ghia AT Detail,"₱120,000",2018.0,2005,Gasoline,Sedan,"100,000 Km",Third Owner,Automatic,Cainta,NaN,NaN
2,2,1997 Toyota Corolla 1.6L GLI AT Detail,"₱130,000",1997.0,1997,Gasoline,Sedan,"80,000 Km",Second Owner,Automatic,Bacoor,NaN,NaN
3,3,2000 Honda Civic 1.8 S CVT Detail,"₱135,000",2000.0,2000,Gasoline,Sedan,"120,000 Km",Third Owner,Cvt,Alaminos,5 seat,1799 CC
4,4,1996 Mazda E2000 2.0 MT Detail,"₱140,000",1996.0,1996,Gasoline,Van,"120,000 Km",First Owner,Manual,Lipa City,NaN,NaN
5,5,2020 Hyundai Reina GL 4AT Detail,"₱146,077",NaN,2020,Gasoline,Sedan,"30,000 Km",First Owner,Automatic,Antipolo,5 seat,1368 CC
6,6,2006 Honda City Hatchback RS CVT Detail,"₱150,000",2023.0,2006,Gasoline,Hatchback,150 Km,Second Owner,Cvt,Butuan,5 seat,1498 CC
7,7,1994 Nissan Bluebird 2.0 MT Detail,"₱150,000",2024.0,1994,Gasoline,Sedan,"100,000 Km",Second Owner,Manual,Antipolo,NaN,NaN

Under 200,000

In [ ]:
df_200k = pd.read_csv("df_200k.csv")
df_200k = df.drop_duplicates().reset_index(drop=True)
display(df_200k)
df_200k.to_csv("df_200k.csv")

,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,2019 Toyota Rush 1.5 G GR-S A/T Detail,"₱810,000",2019,7 seat,Gasoline,Suv,"90,000 Km",First Owner,Automatic,Las Piñas,1496 CC,NaN
1,2015 Isuzu mu-X 3.0 4x2 LS-A AT Detail,"₱810,000",2015,7 seat,Diesel,Suv,"60,000 Km",First Owner,Automatic,Las Piñas,2999 CC,NaN
2,2019 Toyota Rush 1.5 E AT Detail,"₱815,000",2019,7 seat,Gasoline,Suv,"35,000 Km",First Owner,Automatic,Paranaque,1496 CC,2023
3,2016 Isuzu mu-X 3.0 LS-A 4x2 AT Detail,"₱818,000",2016,7 seat,Diesel,Suv,"51,000 Km",First Owner,Automatic,Lapu-Lapu City,2999 CC,2016
4,2016 Toyota Innova 2.5L G AT Detail,"₱820,000",2016,8 seat,Diesel,Mpv,"60,000 Km",First Owner,Automatic,Pasig,2494 CC,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
63,2019 Foton Transvan HR 15 Seater Detail,"₱850,000",2019,15 seat,Diesel,Van,"55,000 Km",Third Owner,Manual,Cainta,2771 CC,2023
64,2020 Toyota Rush 1.5 G GR-S A/T Detail,"₱850,000",2020,7 seat,Gasoline,Suv,"55,000 Km",First Owner,Automatic,Cavite City,1496 CC,2023
65,2020 Isuzu Traviz L Detail,"₱850,000",2020,3 seat,Diesel,Van,"3,200 Km",First Owner,Manual,Valenzuela,2499 CC,2024
66,2016 Ford Everest 2.0L Turbo Titanium Plus 4x2...,"₱850,000",2016,7 seat,Diesel,Suv,"45,000 Km",First Owner,Automatic,Pasig,1996 CC,2016
67,2018 Nissan NV350 Urvan Standard 15-Seater Detail,"₱850,000",2018,15 seat,Diesel,Minivans,NaN,First Owner,Manual,Quezon City,2488 CC,NaN

Under 250,000

In [ ]:
df_250k = pd.read_csv("df_250k.csv")
df_250k = df_250k.drop_duplicates().reset_index(drop=True)
display(df_250k)
df_250k.to_csv("df_250k.csv")

,Unnamed: 0,model,price,make_year,fuel_type,body_type,ownership,transmission,city,registration_year,seats,kms_driven,engine_displacement
0,0,2009 Hyundai Accent 1.5 GL CRDi MT Detail,"₱210,000",2009,Diesel,Sedan,First Owner,Manual,Mandaluyong City,NaN,NaN,NaN,NaN
1,1,2001 Honda CR-V RS eHEV Detail,"₱210,000",2001,Hybrid,Suv,Second Owner,E-cvt,Davao City,2014.0,5 seat,"120,000 Km",1993 CC
2,2,2014 Mitsubishi Mirage 1.2 MT Detail,"₱210,000",2014,Gasoline,Hatchback,First Owner,Manual,Antipolo,2023.0,5 seat,"60,000 Km",1193 CC
3,3,2003 Toyota Camry 2.4 V AT Detail,"₱215,000",2003,Gasoline,Sedan,First Owner,Automatic,Quezon City,2004.0,NaN,"35,000 Km",NaN
4,4,2011 Hyundai Getz 1.1 GL MT Detail,"₱220,000",2011,Gasoline,Hatchback,First Owner,Manual,Marikina City,NaN,NaN,"54,000 Km",NaN
5,5,2008 Honda City 1.3L S MT Detail,"₱220,000",2008,Gasoline,Sedan,Second Owner,Manual,Manila,2008.0,NaN,"90,000 Km",1298 CC
6,6,2019 Suzuki Carry Cab and Chasis 1.5L Detail,"₱220,000",2019,Gasoline,Pickup-trucks,First Owner,Manual,Manila,2023.0,2 seat,"30,000 Km",1462 CC
7,7,2003 Honda CR-V 2.4L AT Detail,"₱220,000",2003,Gasoline,Suv,First Owner,Automatic,Cebu City,2003.0,NaN,"100,000 Km",NaN
8,8,2008 Toyota Vios 1.5 G CVT Detail,"₱220,000",2008,Gasoline,Sedan,Second Owner,Cvt,Antipolo,2008.0,5 seat,"115,000 Km",1496 CC
9,9,2012 Ford Fiesta Sedan 1.5L Trend AT Detail,"₱220,000",2012,Gasoline,Sedan,Second Owner,Automatic,Quezon City,2012.0,5 seat,"102,000 Km",1498 CC
10,10,2016 Tata Super Ace Mint Dual A/C Detail,"₱224,000",2016,Diesel,Pickup-trucks,First Owner,Manual,Cebu City,2016.0,2 seat,"73,000 Km",1396 CC
11,11,2008 Hyundai i10 1.1L GL A-T Detail,"₱230,000",2008,Gasoline,Hatchback,First Owner,Automatic,Quezon City,NaN,5 seat,1 Km,1086 CC
12,12,2003 Toyota Camry 2.4 V AT Detail,"₱230,000",2003,Gasoline,Sedan,First Owner,Automatic,Paranaque,NaN,NaN,NaN,NaN
13,13,2005 Mitsubishi Galant 2.0L GT-A AT Detail,"₱235,000",2005,Gasoline,Sedan,Second Owner,Automatic,Bacoor,2005.0,NaN,"120,000 Km",NaN
14,14,2010 Mazda CX-7 2.5 AT Detail,"₱235,000",2010,Gasoline,Suv,First Owner,Automatic,Paranaque,2024.0,NaN,"97,000 Km",2499 CC
15,15,2012 Hyundai Eon 0.8 GLX 5 M/T Detail,"₱235,500",2012,Gasoline,Hatchback,First Owner,Manual,Quezon City,2013.0,5 seat,"30,000 Km",814 CC
16,16,2015 Hyundai Eon 0.8 GLX 5 M/T Detail,"₱238,000",2015,Gasoline,Hatchback,First Owner,Manual,Tigaon,NaN,5 seat,"69,000 Km",814 CC
17,17,2012 Chevrolet Spark 1.0 LS AT Detail,"₱238,000",2012,Gasoline,Hatchback,First Owner,Automatic,Mandaluyong City,NaN,5 seat,"100,000 Km",995 CC
18,18,2001 Honda Accord 2.0L i-VTEC Detail,"₱240,000",2001,Gasoline,Sedan,First Owner,Cvt,Mandaue City,2001.0,5 seat,1 Km,1998 CC
19,19,2004 Toyota Corolla Altis 1.8 E CVT Detail,"₱240,000",2004,Gasoline,Sedan,Second Owner,Cvt,Quezon City,2004.0,5 seat,"115,000 Km",1798 CC
20,20,2011 Ford Focus Sedan 1.8L Trend MT Detail,"₱240,000",2011,Gasoline,Sedan,First Owner,Manual,Quezon City,2011.0,NaN,"65,000 Km",NaN
21,21,2015 Kia Picanto 1.2 EX AT Detail,"₱240,000",2015,Gasoline,Hatchback,Second Owner,Automatic,Caloocan City,2015.0,5 seat,"50,000 Km",1248 CC
22,22,2005 Honda City 1.5L V AT Detail,"₱240,000",2005,Gasoline,Sedan,First Owner,Automatic,Quezon City,NaN,NaN,"84,000 Km",NaN
23,23,2002 Toyota Corolla Altis 1.8 G GR-S CVT Detail,"₱240,000",2002,Gasoline,Sedan,Second Owner,Cvt,Guagua,2020.0,5 seat,"165,000 Km",1798 CC
24,24,2007 Mitsubishi Galant 2.4L 240M AT Detail,"₱245,000",2007,Gasoline,Sedan,First Owner,Automatic,Quezon City,2007.0,NaN,"116,000 Km",NaN
25,25,2016 Hyundai Eon 0.8 GLX 5 M/T Detail,"₱245,000",2016,Gasoline,Hatchback,First Owner,Manual,Cebu City,2016.0,5 seat,"80,000 Km",814 CC
26,26,2008 Nissan Teana 2.3 230JM AT Detail,"₱248,000",2008,Gasoline,Sedan,First Owner,NaN,Mandaluyong City,NaN,NaN,"90,000 Km",NaN
27,27,2000 Ford Expedition 3.5L Limited AT Detail,"₱250,000",2000,Gasoline,Suv,First Owner,Automatic,Pasay,NaN,NaN,1 Km,NaN
28,28,1999 Ford E-150 4.6L Chateau AT Detail,"₱250,000",1999,Gasoline,Van,First Owner,Automatic,Pasay,NaN,NaN,1 Km,NaN
29,29,2005 Nissan X-Trail 2.0L 200X AT Detail,"₱250,000",2005,Gasoline,Suv,Second Owner,Automatic,Pasay,2005.0,NaN,"85,000 Km",1998 CC
30,30,2006 Ford Focus Sedan 1.6L Trend MT Detail,"₱250,000",2006,Gasoline,Sedan,First Owner,Manual,Imus,2022.0,NaN,"141,000 Km",NaN
31,31,2003 Subaru Forester 2.0i-L Detail,"₱250,000",2003,Gasoline,Suv,Second Owner,Cvt,Quezon City,2005.0,5 seat,"250,000 Km",1995 CC
32,32,2003 Honda CR-V 2.0L S AT Detail,"₱250,000",2003,Gasoline,Suv,First Owner,Automatic,Mandaue City,2003.0,NaN,1 Km,NaN
33,33,2001 Mitsubishi Adventure 2.0L GLS Sport MT De...,"₱250,000",2001,Gasoline,Mpv,First Owner,Manual,Mandaue City,2001.0,NaN,"90,000 Km",1998 CC
34,34,2012 Mazda 2 Sedan 1.3L Detail,"₱250,000",2012,Gasoline,Sedan,Second Owner,Manual,"San Juan, Metro Manila",2023.0,NaN,"103,000 Km",NaN
35,35,2013 Mitsubishi Mirage 1.2 MT Detail,"₱250,000",2013,Gasoline,Hatchback,Second Owner,Manual,Batangas,2013.0,5 seat,"110,000 Km",1193 CC
36,36,2006 Hyundai Starex 2.5L GRX AT Detail,"₱250,000",2006,Diesel,Van,Third Owner,Manual,Dasmariñas,2006.0,NaN,"120,000 Km",NaN
37,37,2004 Honda Civic V Turbo CVT Honda Sensing Detail,"₱250,000",2004,Gasoline,Sedan,Second Owner,Cvt,Binan,2004.0,5 seat,"125,300 Km",1498 CC
38,38,2005 Honda CR-V 2.4L AT Detail,"₱250,000",2005,Gasoline,Suv,Third Owner,Automatic,Quezon City,2010.0,NaN,"55,000 Km",NaN

Under 300,000

In [ ]:
df_300k = pd.read_csv("df_300k.csv")
df_300k = df_300k.drop_duplicates().reset_index(drop=True)
display(df_300k)
df_300k.to_csv("df_300k.csv")

,Unnamed: 0,model,price,make_year,fuel_type,body_type,kms_driven,ownership,transmission,city,registration_year,seats,engine_displacement
0,0,2014 Toyota Hiace 2.5L Commuter MT Detail,"₱252,240",2014,Diesel,Van,"78,000 Km",First Owner,Manual,Antipolo,NaN,NaN,NaN
1,1,2004 Honda Civic V Turbo CVT Honda Sensing Detail,"₱255,000",2004,Gasoline,Sedan,"120,000 Km",Second Owner,Cvt,Quezon City,2022.0,5 seat,1498 CC
2,2,2004 Ford Escape 2.0L XLS AT Detail,"₱258,000",2004,Gasoline,Suv,"68,000 Km",First Owner,Automatic,Quezon City,2004.0,NaN,NaN
3,3,2016 Hyundai Eon 0.8 GLX 5 M/T Detail,"₱259,000",2016,Gasoline,Hatchback,"50,000 Km",First Owner,Manual,Nasugbu,2016.0,5 seat,814 CC
4,4,2010 Mitsubishi Galant 2.4L SE AT Detail,"₱260,000",2010,Gasoline,Sedan,"50,000 Km",Second Owner,Automatic,Dagupan,2010.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,77,2012 Toyota Vios 1.3 E CVT Detail,"₱300,000",2012,Gasoline,Sedan,"50,000 Km",Second Owner,Cvt,san-fernando,2012.0,5 seat,1329 CC
78,78,2013 Ford Focus Sedan 1.6L Ambiente MT Detail,"₱300,000",2013,Gasoline,Sedan,"65,000 Km",Second Owner,Manual,Paranaque,2013.0,NaN,NaN
79,79,2013 Hyundai Elantra 1.6 GL 6M/T Detail,"₱300,000",2013,Gasoline,Sedan,"120,000 Km",Third Owner,Manual,Las Piñas,2013.0,5 seat,1597 CC
80,80,2019 Suzuki Celerio CVT 1.0L Detail,"₱300,000",2019,Gasoline,Hatchback,"50,000 Km",First Owner,Cvt,Cagayan de Oro,2019.0,5 seat,998 CC
81,81,2009 Honda CR-V 1.5 V Turbo CVT Detail,"₱300,000",2009,Gasoline,Suv,"100,000 Km",Second Owner,Cvt,Quezon City,2023.0,7 seat,1498 CC

Under 350,000*

In [ ]:
df_350k = pd.read_csv("df_350k.csv")
df_350k = df_350k.drop_duplicates().reset_index(drop=True)
display(df_350k)
df_350k.to_csv("df_350k.csv")

,Unnamed: 0,model,price,registration_year,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement
0,0,2020 Hyundai Reina GL 5MT Detail,"₱304,000",2020.0,2020,5 seat,Gasoline,Sedan,"71,000 Km",First Owner,Manual,Cebu City,1368 CC
1,1,2016 Chevrolet Sail 1.3 LT MT Detail,"₱305,000",2016.0,2016,5 seat,Gasoline,Sedan,"71,000 Km",First Owner,Manual,Quezon City,1349 CC
2,2,2013 Nissan Almera 1.5 N-Sport AT Detail,"₱305,000",2013.0,2013,5 seat,Gasoline,Sedan,"100,000 Km",First Owner,Automatic,"Talisay City, Cebu",1498 CC
3,3,2012 Ford Fiesta Sedan 1.5L Trend AT Detail,"₱310,000",2012.0,2012,5 seat,Gasoline,Sedan,"50,000 Km",First Owner,Automatic,Davao City,1498 CC
4,4,2010 Honda Accord 2.4 S AT Detail,"₱310,000",2010.0,2010,5 seat,Gasoline,Sedan,"75,000 Km",Third Owner,Automatic,Taguig,2356 CC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,74,2012 Ford Fiesta Hatchback 1.6L Sport AT Detail,"₱350,000",2023.0,2012,NaN,Gasoline,Hatchback,"35,000 Km",First Owner,Automatic,Batangas,NaN
75,75,2011 Isuzu Crosswind XL MT Detail,"₱350,000",2022.0,2011,5 seat,Diesel,Mpv,"200,000 Km",Second Owner,Manual,Davao,2499 CC
76,76,2007 Nissan Frontier 2.7L Bravado MT Detail,"₱350,000",NaN,2007,NaN,Diesel,Pickup-trucks,NaN,First Owner,Manual,Paranaque,NaN
77,77,2017 Toyota Vios 1.3 J MT Detail,"₱350,000",NaN,2017,5 seat,Gasoline,Sedan,"80,000 Km",First Owner,Manual,Quezon City,1329 CC
78,78,2019 Hyundai Reina GL 5MT Detail,"₱350,000",2022.0,2019,5 seat,Gasoline,Sedan,"35,000 Km",Second Owner,Manual,Pozorrubio,1368 CC

Under 400,000*

In [ ]:
df_400k = pd.read_csv("df_400k.csv")
df_400k = df_400k.drop_duplicates().reset_index(drop=True)
display(df_400k)
df_400k.to_csv("df_400k.csv")

,Unnamed: 0,model,price,registration_year,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement
0,0,2011 Kia Carens LX AT Detail,"₱355,000",2011.0,2011,7 seat,Diesel,Hatchback,1 Km,First Owner,Automatic,Lapu-Lapu City,1685 CC
1,1,2010 Honda Civic 1.8L V AT Detail,"₱355,000",2010.0,2010,NaN,Gasoline,Sedan,"70,000 Km",First Owner,Automatic,Manila,NaN
2,2,2016 Toyota Vios 1.3 E MT Detail,"₱355,000",2022.0,2016,5 seat,Gasoline,Sedan,"59,000 Km",First Owner,Manual,San Jose del Monte,1329 CC
3,3,2014 Honda City 1.5 V CVT Honda Sensing Detail,"₱355,000",2023.0,2014,5 seat,Gasoline,Sedan,"90,000 Km",Second Owner,Cvt,Manila,1498 CC
4,4,2012 Mitsubishi Adventure 2.5 GLX MT Detail,"₱358,000",2023.0,2012,7 seat,Diesel,Mpv,"3,000 Km",First Owner,Manual,Quezon City,2477 CC
5,5,2009 Ford Everest 2.5L XLT AT Detail,"₱358,000",NaN,2009,NaN,Diesel,Suv,"60,000 Km",First Owner,Automatic,Mandaluyong City,NaN
6,6,2014 Ford Focus Hatchback 2.0L Sport Gasoline ...,"₱358,000",2015.0,2014,NaN,Gasoline,Hatchback,"40,000 Km",First Owner,Automatic,Bacoor,1998 CC
7,7,2004 Suzuki Jimny JLX 1.3L-A/T Detail,"₱360,000",2004.0,2004,NaN,Gasoline,Suv,"80,000 Km",First Owner,NaN,Quezon City,NaN
8,8,2017 Mitsubishi Mirage 1.2 MT Detail,"₱360,000",2017.0,2017,5 seat,Gasoline,Hatchback,"52,000 Km",Second Owner,Manual,Quezon City,1193 CC
9,9,2016 Mitsubishi Mirage G4 GLX CVT Detail,"₱360,000",2017.0,2016,5 seat,Gasoline,Sedan,"40,000 Km",Second Owner,Cvt,Manila,1193 CC
10,10,2015 Kia Rio Hatchback EX AT Detail,"₱363,950",2015.0,2015,NaN,Gasoline,Sedan,"96,000 Km",Second Owner,Automatic,Taguig,NaN
11,11,2017 Hyundai Accent 1.4 GL 6AT Detail,"₱365,000",2020.0,2017,NaN,Gasoline,Sedan,"44,000 Km",First Owner,Automatic,Quezon City,1399 CC
12,12,2011 Suzuki Swift 1.4 AT Detail,"₱365,000",2011.0,2011,5 seat,Gasoline,Hatchback,"52,000 Km",First Owner,Automatic,"Talisay City, Cebu",1372 CC
13,13,2009 Honda Jazz 1.3L S AT Detail,"₱365,000",NaN,2009,NaN,Gasoline,Hatchback,"88,733 Km",First Owner,Automatic,Bacoor,NaN
14,14,2012 Subaru XV GT Edition Detail,"₱365,000",2012.0,2012,5 seat,Gasoline,Suv,"142,000 Km",Second Owner,Cvt,Taguig,1995 CC
15,15,2015 Nissan Sylphy 1.6L MT Detail,"₱365,000",2015.0,2015,5 seat,Gasoline,Sedan,"45,000 Km",Second Owner,Manual,Pasig,1598 CC
16,16,2013 Toyota Vios 1.3 G AT Detail,"₱368,000",2013.0,2013,NaN,Gasoline,Sedan,"70,000 Km",First Owner,Automatic,Bacolod City,NaN
17,17,2014 Suzuki Grand Vitara 2.4L AT RWD Detail,"₱368,000",2014.0,2014,NaN,Gasoline,Suv,"80,000 Km",Second Owner,Automatic,Caloocan City,2398 CC
18,18,2018 Nissan Almera 1.5 E MT Detail,"₱369,000",2018.0,2018,5 seat,Gasoline,Sedan,"25,000 Km",Second Owner,Manual,Quezon City,1498 CC
19,19,2015 Suzuki Swift GL 1.2L CVT Detail,"₱369,000",2015.0,2015,5 seat,Gasoline,Hatchback,"77,000 Km",First Owner,Cvt,Mandaue City,1197 CC
20,20,2017 Nissan Almera 1.5 E AT Detail,"₱370,000",2017.0,2017,5 seat,Gasoline,Sedan,"72,000 Km",First Owner,Automatic,Quezon City,1498 CC
21,21,2013 Ford Focus Sedan 1.6L Trend AT Detail,"₱370,000",2013.0,2013,5 seat,Gasoline,Sedan,"80,000 Km",First Owner,Automatic,Las Piñas,1596 CC
22,22,2011 Suzuki APV SGX MT Detail,"₱370,000",2011.0,2011,NaN,Gasoline,Mpv,"60,000 Km",First Owner,Manual,Mandaue City,NaN
23,23,2016 Suzuki Celerio CVT 1.0L Detail,"₱370,000",2016.0,2016,5 seat,Gasoline,Hatchback,"60,000 Km",First Owner,Cvt,Mandaue City,998 CC
24,24,2017 Hyundai Accent 1.4 GL 6MT Detail,"₱370,000",2017.0,2017,NaN,Gasoline,Sedan,1 Km,First Owner,Manual,"Talisay City, Cebu",1399 CC
25,25,2005 Isuzu Crosswind XT Detail,"₱370,000",NaN,2005,7 seat,Diesel,Mpv,NaN,First Owner,Manual,Quezon City,2499 CC
26,26,2015 Toyota Vios 1.3 Base MT Detail,"₱370,000",2022.0,2015,5 seat,Gasoline,Sedan,"5,000 Km",First Owner,Manual,Quezon City,1329 CC
27,27,2010 Toyota Camry 2.4L G Detail,"₱370,000",2023.0,2010,NaN,Gasoline,Sedan,"35,000 Km",First Owner,Automatic,Makati City,NaN
28,28,2017 Ford Fiesta Hatchback 1.0L Sport+ AT Detail,"₱375,000",2017.0,2017,NaN,Gasoline,Hatchback,"64,000 Km",First Owner,Automatic,Quezon City,NaN
29,29,2017 Mitsubishi Mirage G4 GLX 1.2 MT Detail,"₱378,000",NaN,2017,5 seat,Gasoline,Sedan,1 Km,First Owner,Manual,Pasig,1193 CC
30,30,2017 Nissan Almera 1.5L E MT Detail,"₱378,000",2017.0,2017,5 seat,Gasoline,Sedan,"40,000 Km",First Owner,Manual,Bacolod City,1498 CC
31,31,2017 Mitsubishi L300 2.5L FB Exceed MT Detail,"₱378,000",2017.0,2017,NaN,Diesel,Mpv,"99,154 Km",First Owner,Manual,Antipolo,2488 CC
32,32,2016 Toyota Wigo 1.0 G AT Detail,"₱378,000",NaN,2016,5 seat,Gasoline,Hatchback,"34,000 Km",First Owner,Automatic,Muntinlupa,998 CC
33,33,2003 Suzuki Jimny JLX 1.3L-A/T Detail,"₱378,000",NaN,2003,4 seat,Gasoline,Suv,1 Km,First Owner,Automatic,Pasay,1328 CC
34,34,2018 Toyota Wigo 1.0 E MT Detail,"₱380,000",2018.0,2018,5 seat,Gasoline,Hatchback,"23,000 Km",Third Owner,Manual,Manila,998 CC
35,35,2014 Chevrolet Sonic 1.4 AT LTZ Sedan Detail,"₱380,000",2021.0,2014,NaN,Gasoline,Sedan,"39,800 Km",First Owner,Automatic,Quezon City,1398 CC
36,36,2001 Mitsubishi Pajero GLS 3.8 V6 Gas 4WD AT D...,"₱380,000",2016.0,2001,7 seat,Gasoline,Suv,"105,000 Km",Second Owner,Automatic,Antipolo,3828 CC
37,37,2018 Nissan Almera 1.2 MT Detail,"₱380,000",2018.0,2018,5 seat,Gasoline,Sedan,"30,000 Km",Second Owner,Manual,Lapu-Lapu City,1198 CC
38,38,2008 Kia Carnival 2.9L EX Detail,"₱380,000",2008.0,2008,7 seat,Diesel,Van,1 Km,First Owner,Automatic,Mandaue City,2902 CC
39,39,2010 Kia Sorento 2.2 EX 4x2 AT Detail,"₱380,000",2010.0,2010,7 seat,Diesel,Suv,"80,000 Km",Second Owner,Automatic,Taguig,2199 CC
40,40,2014 Ford Fiesta Sedan 1.5L Titanium AT Detail,"₱380,000",2014.0,2014,NaN,Gasoline,Sedan,"45,000 Km",First Owner,Automatic,General Mariano Alvarez,NaN
41,41,2020 Suzuki Swift Dzire GA 1.2L-M/T Detail,"₱380,000",2020.0,2020,5 seat,Gasoline,Sedan,"43,000 Km",Second Owner,Manual,Davao City,1197 CC
42,42,2012 Toyota Corolla Altis 1.6 G MT Detail,"₱380,000",2012.0,2012,5 seat,Gasoline,Sedan,"69,000 Km",First Owner,Manual,Cebu City,1598 CC
43,43,2010 Mitsubishi Adventure 2.5 GLX MT Detail,"₱380,000",NaN,2010,7 seat,Diesel,Mpv,1 Km,First Owner,Manual,Cebu City,2477 CC
44,44,2010 Kia Sportage 2.0L AT (Dsl) Detail,"₱380,000",2010.0,2010,NaN,Diesel,Suv,1 Km,First Owner,Automatic,Cebu City,NaN
45,45,2008 Ford Escape 2.3L XLS AT Detail,"₱380,000",NaN,2008,NaN,Gasoline,Suv,"90,000 Km",First Owner,Automatic,Cebu City,2296 CC
46,46,2013 Nissan Urvan 12 Seater ESCAPADE Detail,"₱380,000",NaN,2013,12 seat,Diesel,Van,NaN,First Owner,Manual,Antipolo,2663 CC
47,47,2017 Hyundai Accent 1.4 GL 6AT w/Airbag Detail,"₱380,000",2017.0,2017,5 seat,Gasoline,Sedan,"20,000 Km",First Owner,Automatic,Mandaluyong City,1368 CC
48,48,2014 Toyota Vios 1.3 E CVT Detail,"₱380,000",2021.0,2014,5 seat,Gasoline,Sedan,"40,000 Km",First Owner,Cvt,Quezon City,1329 CC
49,49,2016 Mitsubishi Mirage GLS 1.2 CVT Detail,"₱380,000",2016.0,2016,5 seat,Gasoline,Hatchback,"17,000 Km",Second Owner,Cvt,Pasig,1193 CC
50,50,2019 Mitsubishi Mirage G4 GLX 1.2 MT Detail,"₱380,000",NaN,2019,5 seat,Gasoline,Sedan,"18,000 Km",First Owner,Manual,Quezon City,1193 CC
51,51,2017 Hyundai Accent 1.4 E MT Detail,"₱380,000",2017.0,2017,NaN,Gasoline,Sedan,"80,000 Km",First Owner,Manual,Marilao,NaN
52,52,2017 Mitsubishi Mirage G4 GLS CVT Detail,"₱380,000",2023.0,2017,5 seat,Gasoline,Sedan,"120,000 Km",First Owner,Cvt,Manila,1193 CC
53,53,2013 Mazda 3 Sedan 1.6 V AT Detail,"₱380,000",2013.0,2013,NaN,Gasoline,Sedan,"48,000 Km",First Owner,Automatic,Pasig,NaN
54,54,2014 Toyota Corolla Altis 1.6 G MT Detail,"₱380,000",2014.0,2014,5 seat,Gasoline,Sedan,"115,000 Km",First Owner,Manual,Pasig,1598 CC

Under 450,000*

In [ ]:
df_450k = pd.read_csv("df_450k.csv")
df_450k = df_450k.drop_duplicates().reset_index(drop=True)
display(df_450k)
df_450k.to_csv("df_450k.csv")

,Unnamed: 0,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,0,2018 Mitsubishi Mirage G4 GLS 1.2 CVT Detail,"₱409,000",2018,5 seat,Gasoline,Sedan,"36,000 Km",First Owner,Cvt,Quezon City,1193 CC,NaN
1,1,2019 Hyundai Accent 1.4 GL 6MT w/o Airbags Detail,"₱410,000",2019,5 seat,Gasoline,Sedan,"15,000 Km",Second Owner,Manual,Vigan,1368 CC,2019.0
2,2,2013 Kia Sportage 2.0 AT Diesel FWD Detail,"₱410,000",2013,5 seat,Diesel,Suv,"106,000 Km",First Owner,Automatic,Makati City,1995 CC,2013.0
3,3,2011 Toyota Innova 2.0L J MT Detail,"₱410,000",2011,NaN,Gasoline,Mpv,1 Km,First Owner,Manual,"Talisay City, Cebu",1998 CC,2011.0
4,4,2019 Suzuki APV GA 1.6L MT Detail,"₱410,000",2019,8 seat,Gasoline,Minivans,"70,000 Km",First Owner,Manual,Bacoor,1590 CC,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,100,2014 Mitsubishi Adventure 2.5 GLX MT Detail,"₱450,000",2014,7 seat,Diesel,Mpv,"130,000 Km",First Owner,Manual,Milaor,2477 CC,NaN
101,101,2013 Honda City 1.5L E AT Detail,"₱450,000",2013,NaN,Gasoline,Sedan,80 Km,Second Owner,Automatic,Mataas na Kahoy,1499 CC,2013.0
102,102,2005 Nissan Frontier 2.7L Titanium MT Detail,"₱450,000",2005,NaN,Diesel,Pickup-trucks,NaN,First Owner,Manual,Quezon City,NaN,NaN
103,103,2017 Toyota Wigo 1.0 G AT Detail,"₱450,000",2017,5 seat,Gasoline,Hatchback,NaN,First Owner,Automatic,Quezon City,998 CC,NaN
104,104,2019 Nissan Almera 1.2 MT Detail,"₱450,000",2019,5 seat,Gasoline,Sedan,NaN,First Owner,Manual,Antipolo,1198 CC,NaN

Under 500,000*

In [ ]:
df_500k = pd.read_csv("df_500k.csv")
df_500k = df_500k.drop_duplicates().reset_index(drop=True)
display(df_500k)
df_500k.to_csv("df_500k.csv")

,Unnamed: 0,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,0,2010 Subaru Forester 2.0 AT Detail,"₱455,000",2010,5 seat,Gasoline,Suv,1 Km,First Owner,Automatic,Pasig,1995 CC,NaN
1,1,2017 Suzuki Swift GL 1.2L CVT Detail,"₱455,000",2017,5 seat,Gasoline,Hatchback,"39,000 Km",First Owner,Cvt,"Talisay City, Cebu",1197 CC,2017.0
2,2,2012 Mitsubishi Adventure 2.5 GLS Sport MT Detail,"₱455,000",2012,NaN,Diesel,Mpv,NaN,First Owner,Manual,Cavite City,2494 CC,NaN
3,3,2016 Toyota Vios 1.3L E AT Detail,"₱455,000",2016,NaN,Gasoline,Sedan,"72,866 Km",First Owner,Automatic,Bacoor,1293 CC,NaN
4,4,2015 Chevrolet Spin 1.5L AT LTZ(Gas) Detail,"₱458,000",2015,7 seat,Gasoline,Mpv,"70,000 Km",First Owner,Automatic,Mandaluyong City,1485 CC,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,64,2015 Toyota Yaris 1.3L E AT Detail,"₱480,000",2015,NaN,Gasoline,Hatchback,NaN,First Owner,Automatic,Quezon City,NaN,NaN
65,65,2007 BMW 1 Series (Five Door) 118i Detail,"₱480,000",2007,4 seat,Gasoline,Hatchback,"50,000 Km",First Owner,Manual,Cebu City,1598 CC,2008.0
66,66,2016 Mitsubishi L300 2.5L FB Exceed MT Detail,"₱480,000",2016,NaN,Diesel,Mpv,"120,000 Km",Second Owner,Manual,Marilao,2488 CC,2022.0
67,67,2009 BMW 1 Series (Five Door) 118i Detail,"₱480,000",2009,4 seat,Gasoline,Hatchback,"80,000 Km",Second Owner,Manual,Quezon City,1598 CC,2009.0
68,68,2018 Suzuki Ciaz GL AT Detail,"₱480,000",2018,5 seat,Gasoline,Sedan,"55,000 Km",First Owner,Automatic,Dumaguete city,1373 CC,2019.0

Under 550,000*

In [ ]:
df_550k = pd.read_csv("df_550k.csv")
df_550k = df_550k.drop_duplicates().reset_index(drop=True)
display(df_550k)
df_550k.to_csv("df_550k.csv")

,Unnamed: 0,model,price,registration_year,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement
0,0,2013 Mazda CX-5 2.0L FWD Pro Detail,"₱508,000",2013.0,2013,5 seat,Gasoline,Crossover,"74,000 Km",First Owner,Automatic,Mandaluyong City,1998 CC
1,1,2017 Ford Ecosport 1.5 L Ambiente MT Detail,"₱508,000",2017.0,2017,5 seat,Gasoline,Crossover,"40,000 Km",First Owner,Manual,Bacolod City,1498 CC
2,2,2016 Mitsubishi Adventure 2.5 GLX MT Detail,"₱508,000",NaN,2016,7 seat,Diesel,Mpv,"54,000 Km",First Owner,Manual,Cainta,2477 CC
3,3,2020 Nissan Almera 1.5 E AT Detail,"₱508,000",NaN,2020,5 seat,Gasoline,Sedan,"28,000 Km",First Owner,Automatic,Cainta,1498 CC
4,4,2021 Toyota Wigo 1.0L G AT Detail,"₱508,000",2021.0,2021,NaN,Gasoline,Hatchback,"21,000 Km",First Owner,Automatic,San Pascual,995 CC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,112,2003 Toyota Hiace Commuter Deluxe Detail,"₱550,000",2003.0,2003,15 seat,Diesel,Van,"55,000 Km",First Owner,Manual,Quezon City,2755 CC
113,113,2016 Mazda 3 Sedan 1.5 V Detail,"₱550,000",NaN,2016,NaN,Gasoline,Sedan,"50,000 Km",First Owner,NaN,Las Piñas,NaN
114,114,2019 Suzuki Swift 1.2L-A/T Detail,"₱550,000",NaN,2019,5 seat,Gasoline,Hatchback,NaN,First Owner,Automatic,Caloocan City,1197 CC
115,115,2017 Ford Ecosport 1.5 L Trend AT Detail,"₱550,000",NaN,2017,5 seat,Gasoline,Crossover,NaN,First Owner,Automatic,Makati City,1498 CC
116,116,2021 Mitsubishi Mirage G4 GLX CVT Detail,"₱550,000",2021.0,2021,5 seat,Gasoline,Sedan,"45,000 Km",Second Owner,Cvt,Muntinlupa,1193 CC

Under 600,000*

In [ ]:
df_600k = pd.read_csv("df_600k.csv")
df_600k = df_600k.drop_duplicates().reset_index(drop=True)
display(df_600k)
df_600k.to_csv("df_600k.csv")

,Unnamed: 0,model,price,registration_year,make_year,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,seats
0,0,2017 Hyundai Grand Starex 2.5 GL MT Detail,"₱555,000",2017.0,2017,Diesel,Van,"123,000 Km",First Owner,Manual,Quezon City,2498 CC,NaN
1,1,2005 Mitsubishi Pajero GLS 3.8 V6 Gas 4WD AT D...,"₱555,000",2023.0,2005,Gasoline,Suv,"118,000 Km",Third Owner,Automatic,Mexico,NaN,NaN
2,2,2019 Toyota Vios 1.3 XE CVT Detail,"₱555,000",2019.0,2019,Gasoline,Sedan,1 Km,First Owner,Cvt,Lapu-Lapu City,1329 CC,5 seat
3,3,2016 Hyundai Tucson 2.0L S MT Detail,"₱558,000",2016.0,2016,Gasoline,Suv,"50,000 Km",First Owner,Manual,Las Piñas,1998 CC,NaN
4,4,2020 Hyundai Accent 1.4 GL 6AT Detail,"₱558,000",NaN,2020,Gasoline,Sedan,1 Km,First Owner,Automatic,Quezon City,1399 CC,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,120,2014 Toyota Innova 2.5L E AT Detail,"₱598,000",NaN,2014,Diesel,Mpv,NaN,First Owner,Automatic,Cavite City,2494 CC,NaN
121,121,2019 MG ZS Style AT Detail,"₱598,000",NaN,2019,Gasoline,Crossover,NaN,First Owner,Automatic,Paranaque,1499 CC,5 seat
122,122,2016 Isuzu Crosswind Sportivo MT Detail,"₱598,000",NaN,2016,Diesel,Mpv,NaN,First Owner,Manual,Cavite City,2499 CC,7 seat
123,123,2013 Chevrolet Colorado 2.8L 4X4 AT LTZ Detail,"₱598,000",NaN,2013,Diesel,Pickup-trucks,NaN,First Owner,Automatic,Cavite City,2766 CC,4 seat
124,124,2011 Hyundai Genesis Coupe 2.0L Base 6MT FL De...,"₱598,000",NaN,2011,Gasoline,Coupe,NaN,First Owner,Manual,Cavite City,1998 CC,4 seat

Under 650,000*

In [ ]:
df_650k = pd.read_csv("df_650k.csv")
df_650k = df_650k.drop_duplicates().reset_index(drop=True)
display(df_650k)
df_650k.to_csv("df_650k.csv")

,Unnamed: 0,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,0,2019 Foton View Transvan 2.8L MT Detail,"₱605,000",2019,15 seat,Diesel,Van,"40,000 Km",First Owner,Manual,Quezon City,2800 CC,NaN
1,1,2018 Honda City 1.5 E CVT Detail,"₱608,000",2018,5 seat,Gasoline,Sedan,"21,000 Km",First Owner,Cvt,Quezon City,1496 CC,NaN
2,2,2017 Honda City 1.5 VX CVT Detail,"₱608,000",2017,5 seat,Gasoline,Sedan,"69,000 Km",First Owner,Automatic,Quezon City,1496 CC,NaN
3,3,2020 Toyota Vios 1.3L XLE AT Detail,"₱608,000",2020,NaN,Gasoline,Sedan,"13,000 Km",First Owner,Automatic,Pasig,1293 CC,NaN
4,4,2018 Hyundai H-100 2.6 GL 5M/T (Dsl-With AC) D...,"₱610,000",2018,NaN,Diesel,Pickup-trucks,"57,000 Km",First Owner,Manual,Quezon City,2607 CC,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,98,2018 Honda City 1.5L VX AT Detail,"₱650,000",2018,NaN,Gasoline,Sedan,"35,000 Km",First Owner,Automatic,Cebu City,NaN,2018.0
99,99,2017 Ford Ecosport 1.5L Trend AT Detail,"₱650,000",2017,NaN,Gasoline,Suv,"3,330 Km",First Owner,Automatic,Quezon City,1498 CC,2022.0
100,100,2020 Suzuki Swift GL 1.2L CVT Detail,"₱650,000",2020,5 seat,Gasoline,Hatchback,"11,800 Km",First Owner,Cvt,Quezon City,1197 CC,2020.0
101,101,2017 Hyundai Grand Starex 2.5 GL 5M/T (Dsl) De...,"₱650,000",2017,10 seat,Diesel,Minivans,"30,000 Km",First Owner,Manual,Manila,2476 CC,2022.0
102,102,2013 Hyundai Santa Fe 2.2 CRDi GLS 6AT (Dsl) D...,"₱650,000",2013,7 seat,Diesel,Suv,"60,000 Km",First Owner,Automatic,Las Piñas,2199 CC,NaN

Under 700,000

In [ ]:
df_700k = pd.read_csv("df_700k.csv")
df_700k = df_700k.drop_duplicates().reset_index(drop=True)
display(df_700k)
df_700k.to_csv("df_700k.csv")

,Unnamed: 0,model,price,registration_year,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement
0,0,2022 Mitsubishi Mirage G4 GLX CVT Detail,"₱655,000",2022.0,2022,5 seat,Gasoline,Sedan,"2,000 Km",First Owner,Cvt,Lapu-Lapu City,1193 CC
1,1,2022 Mitsubishi Mirage G4 GLX 1.2 CVT Detail,"₱655,000",2022.0,2022,NaN,Gasoline,Sedan,"1,000 Km",First Owner,Cvt,Quezon City,1199 CC
2,2,2014 Mitsubishi Strada 2.5 GLX MT Detail,"₱655,000",NaN,2014,NaN,Diesel,Pickup-trucks,"72,000 Km",First Owner,Manual,"Talisay City, Cebu",2498 CC
3,3,2020 MG ZS Alpha AT Detail,"₱655,000",2020.0,2020,5 seat,Gasoline,Crossover,"20,000 Km",First Owner,Automatic,Taguig,1499 CC
4,4,2017 Honda Mobilio 1.5 RS Navi CVT Detail,"₱655,000",2017.0,2017,7 seat,Gasoline,Mpv,"38,000 Km",First Owner,Cvt,Pulilan,1497 CC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,126,2016 Chevrolet Trailblazer Premier Detail,"₱700,000",2017.0,2016,5 seat,Gasoline,Suv,"75,000 Km",Second Owner,Cvt,Cebu City,1341 CC
127,127,2011 Toyota Hiace 2.5L Commuter MT Detail,"₱700,000",2011.0,2011,NaN,Diesel,Van,"348,654 Km",First Owner,Manual,Tagbilaran City,NaN
128,128,2016 Hyundai Tucson 2.0 GLS Plus AT (Diesel) D...,"₱700,000",2023.0,2016,5 seat,Diesel,Suv,"55,000 Km",First Owner,Automatic,Taguig,1998 CC
129,129,2018 Honda Jazz 1.5 VX Navi CVT Detail,"₱700,000",2018.0,2018,5 seat,Gasoline,Hatchback,"36,000 Km",First Owner,Cvt,"Santa Rosa, Laguna",1497 CC
130,130,2020 Honda Brio 1.2 RS CVT Detail,"₱700,000",2020.0,2020,5 seat,Gasoline,Hatchback,"25,000 Km",First Owner,Cvt,Mabalacat,1199 CC

Under 750,000*

In [ ]:
df_750k = pd.read_csv("df_750k.csv")
df_750k = df_750k.drop_duplicates().reset_index(drop=True)
display(df_750k)
df_750k.to_csv("df_750k.csv")

,Unnamed: 0,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,0,2015 Hyundai Grand Starex GL TCI(10s)- U MT De...,"₱708,000",2015,10 seat,Gasoline,Minivans,1 Km,First Owner,Manual,Quezon City,2476 CC,NaN
1,1,2015 Honda HR-V 1.8 E CVT Detail,"₱710,000",2015,5 seat,Gasoline,Crossover,"12,000 Km",First Owner,Cvt,Manila,1799 CC,2017.0
2,2,2015 Honda HR-V 1.8L EL AT Detail,"₱710,000",2015,NaN,Gasoline,Suv,"70,000 Km",First Owner,Automatic,Las Piñas,NaN,NaN
3,3,2022 Toyota Vios 1.3 XLE CVT Detail,"₱710,000",2022,5 seat,Gasoline,Sedan,"16,000 Km",First Owner,Cvt,Puerto Princesa City,1329 CC,NaN
4,4,2019 Toyota Rush 1.5 G GR-S A/T Detail,"₱710,000",2019,7 seat,Gasoline,Suv,"35,000 Km",First Owner,Automatic,Quezon City,1496 CC,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,2015 Ford Ranger 2.0L Turbo XLT 4x2 AT Detail,"₱750,000",2015,5 seat,Diesel,Pickup-trucks,"95,000 Km",First Owner,Automatic,Marilao,1996 CC,2023.0
86,86,2023 Toyota Raize 1.2 E CVT Detail,"₱750,000",2023,5 seat,Gasoline,Crossover,"4,400 Km",First Owner,Cvt,Taguig,1198 CC,2023.0
87,87,2016 Chevrolet Trailblazer LT Detail,"₱750,000",2016,5 seat,Gasoline,Suv,"35,000 Km",First Owner,Cvt,Quezon City,1341 CC,2023.0
88,88,2018 Nissan NV350 Urvan Premium M/T 15-Seater ...,"₱750,000",2018,15 seat,Diesel,Minivans,"35,000 Km",First Owner,Manual,Bauan,2488 CC,2018.0
89,89,2023 MG ZS Alpha AT Detail,"₱750,000",2023,5 seat,Gasoline,Crossover,"7,617 Km",First Owner,Automatic,san-mateo,1499 CC,2023.0

Under 800,000*

In [ ]:
df_800k = df.copy()
df_800k = df_800k.drop_duplicates().reset_index(drop=True)
display(df_800k)
df_800k.to_csv("df_800k.csv")

,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,2018 Nissan Juke 1.6 Upper CVT Detail,"₱758,000",2018,5 seat,Gasoline,Crossover,"5,000 Km",First Owner,Cvt,Pasig,1598 CC,NaN
1,2020 Hyundai Kona 2.0 GLS 6A/T Detail,"₱758,000",2020,5 seat,Gasoline,Crossover,1 Km,First Owner,Automatic,Pasig,1998 CC,NaN
2,2020 Hyundai Kona 2.0 GLS 6A/T Detail,"₱758,000",2020,5 seat,Gasoline,Crossover,"13,000 Km",First Owner,Automatic,Marikina City,1998 CC,2020
3,2020 Toyota Vios 1.5 G Prime CVT Detail,"₱758,000",2020,5 seat,Gasoline,Sedan,1 Km,First Owner,Cvt,Pasig,1496 CC,NaN
4,2019 Mazda 3 Sedan SkyActiv V Detail,"₱759,000",2019,5 seat,Gasoline,Sedan,"55,000 Km",Second Owner,Automatic,Makati City,1496 CC,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
85,2020 Mitsubishi Xpander Cross 1.5L AT Detail,"₱800,000",2020,7 seat,Gasoline,Mpv,"30,000 Km",First Owner,Automatic,Paranaque,1499 CC,2020
86,2018 Mitsubishi Xpander GLS AT Detail,"₱800,000",2018,7 seat,Gasoline,Mpv,"46,000 Km",First Owner,Automatic,Imus,1499 CC,2018
87,2020 Peugeot 3008 1.6L Petrol Detail,"₱800,000",2020,5 seat,Gasoline,Crossover,"5,000 Km",First Owner,Automatic,Taguig,1598 CC,2020
88,2020 Mitsubishi Xpander GLX AT Detail,"₱800,000",2020,7 seat,Gasoline,Mpv,"80,000 Km",First Owner,Automatic,Bacoor,1499 CC,2020
89,2017 Honda CR-V 1.5 V Turbo CVT Detail,"₱800,000",2017,7 seat,Gasoline,Suv,"53,000 Km",First Owner,Cvt,Quezon City,1498 CC,2023

Under 850,000*

In [ ]:
df_850k = df.copy()
df_850k = df_850k.drop_duplicates().reset_index(drop=True)
display(df_850k)
df_850k.to_csv("df_850k.csv")

,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,2019 Toyota Rush 1.5 G GR-S A/T Detail,"₱810,000",2019,7 seat,Gasoline,Suv,"90,000 Km",First Owner,Automatic,Las Piñas,1496 CC,NaN
1,2015 Isuzu mu-X 3.0 4x2 LS-A AT Detail,"₱810,000",2015,7 seat,Diesel,Suv,"60,000 Km",First Owner,Automatic,Las Piñas,2999 CC,NaN
2,2019 Toyota Rush 1.5 E AT Detail,"₱815,000",2019,7 seat,Gasoline,Suv,"35,000 Km",First Owner,Automatic,Paranaque,1496 CC,2023
3,2016 Isuzu mu-X 3.0 LS-A 4x2 AT Detail,"₱818,000",2016,7 seat,Diesel,Suv,"51,000 Km",First Owner,Automatic,Lapu-Lapu City,2999 CC,2016
4,2016 Toyota Innova 2.5L G AT Detail,"₱820,000",2016,8 seat,Diesel,Mpv,"60,000 Km",First Owner,Automatic,Pasig,2494 CC,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
63,2019 Foton Transvan HR 15 Seater Detail,"₱850,000",2019,15 seat,Diesel,Van,"55,000 Km",Third Owner,Manual,Cainta,2771 CC,2023
64,2020 Toyota Rush 1.5 G GR-S A/T Detail,"₱850,000",2020,7 seat,Gasoline,Suv,"55,000 Km",First Owner,Automatic,Cavite City,1496 CC,2023
65,2020 Isuzu Traviz L Detail,"₱850,000",2020,3 seat,Diesel,Van,"3,200 Km",First Owner,Manual,Valenzuela,2499 CC,2024
66,2016 Ford Everest 2.0L Turbo Titanium Plus 4x2...,"₱850,000",2016,7 seat,Diesel,Suv,"45,000 Km",First Owner,Automatic,Pasig,1996 CC,2016
67,2018 Nissan NV350 Urvan Standard 15-Seater Detail,"₱850,000",2018,15 seat,Diesel,Minivans,NaN,First Owner,Manual,Quezon City,2488 CC,NaN

Under 900,000

In [ ]:
df_900k = df.copy()
df_900k = df_900k.drop_duplicates().reset_index(drop=True)
display(df_900k)
df_900k.to_csv("df_900k.csv")

,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,2019 Mitsubishi Xpander GLS Sport 1.5G 2WD AT ...,"₱857,000",2019,7 seat,Gasoline,Mpv,1 Km,First Owner,Automatic,Pasig,1499 CC,NaN
1,2021 Mitsubishi Xpander GLS Sport 1.5G 2WD AT ...,"₱858,000",2021,7 seat,Gasoline,Mpv,"5,000 Km",First Owner,Automatic,Marikina City,1499 CC,2021
2,2014 Mercedes-Benz B-Class 180 Detail,"₱858,000",2014,5 seat,Gasoline,Hatchback,"30,000 Km",First Owner,Automatic,Las Piñas,1595 CC,2014
3,2017 Chevrolet Trailblazer 2.8 2WD 6AT LT Detail,"₱858,000",2017,7 seat,Diesel,Suv,"50,000 Km",First Owner,Automatic,Quezon City,2776 CC,NaN
4,2019 Mitsubishi Xpander GLS 1.5G 2WD AT Detail,"₱858,000",2019,7 seat,Gasoline,Mpv,1 Km,First Owner,Automatic,Quezon City,1499 CC,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
109,2019 Mitsubishi Xpander GLS Sport 1.5G 2WD AT ...,"₱900,000",2019,7 seat,Gasoline,Mpv,"11,000 Km",Second Owner,Automatic,Las Piñas,1499 CC,2019
110,2017 Chevrolet Trailblazer Premier Detail,"₱900,000",2017,5 seat,Gasoline,Suv,"40,000 Km",First Owner,Cvt,Mandaluyong City,1341 CC,2018
111,2007 Audi Q7 2.0 TFSI Quattro Detail,"₱900,000",2007,7 seat,Gasoline,Suv,"70,000 Km",Second Owner,Automatic,Pasig,1998 CC,2017
112,2022 Kia Seltos 1.5 LX Detail,"₱900,000",2022,5 seat,Gasoline,Suv,"17,000 Km",First Owner,Ivt,Makati City,1499 CC,2022
113,2018 Toyota Innova 2.8L G AT Detail,"₱900,000",2018,NaN,Diesel,Mpv,"60,000 Km",First Owner,Automatic,Taguig,NaN,2023

Under 950,000*

In [ ]:
df_950k = df.copy()
df_950k = df_950k.drop_duplicates().reset_index(drop=True)
display(df_950k)
df_950k.to_csv("df_950k.csv")

,model,price,registration_year,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement
0,2019 Mitsubishi Strada GLS 2WD MT Detail,"₱908,000",2019,2019,5 seat,Diesel,Pickup-trucks,"32,000 Km",First Owner,Manual,Lapu-Lapu City,2396 CC
1,2018 Toyota Hilux 2.4L G 2WD MT Detail,"₱910,000",2023,2018,5 seat,Diesel,Pickup-trucks,"93,000 Km",First Owner,Manual,Quezon City,2498 CC
2,2015 Toyota Fortuner Dsl AT 4x2 2.5 V Detail,"₱915,000",NaN,2015,7 seat,Diesel,Suv,"54,000 Km",First Owner,Automatic,Lumban,2494 CC
3,2022 Toyota Avanza 1.3 E MT Detail,"₱915,450",2022,2022,7 seat,Gasoline,Mpv,"28,000 Km",First Owner,Manual,Iloilo City,1329 CC
4,2020 Nissan NV350 Urvan Premium M/T 15-Seater ...,"₱916,000",2020,2020,15 seat,Diesel,Minivans,"222,000 Km",First Owner,Manual,Cebu City,2488 CC
...,...,...,...,...,...,...,...,...,...,...,...,...
68,2012 Ford Expedition 5.4L XLT AT Detail,"₱950,000",NaN,2012,NaN,Gasoline,Suv,1 Km,First Owner,Automatic,Quezon City,NaN
69,2019 Hyundai Kona 2.0 GLS 6A/T Detail,"₱950,000",2019,2019,5 seat,Gasoline,Crossover,"45,000 Km",First Owner,Automatic,Cebu City,1998 CC
70,2021 Toyota Hilux 2.4L G 2WD MT Detail,"₱950,000",2023,2021,5 seat,Diesel,Pickup-trucks,"25,000 Km",Second Owner,Manual,Manila,2498 CC
71,2018 Ford Everest 2.0L Turbo Trend 4x2 AT Detail,"₱950,000",2023,2018,7 seat,Diesel,Suv,"25,000 Km",First Owner,Automatic,Manila,1996 CC
72,2018 Honda BR-V 1.5L V CVT Detail,"₱950,000",2018,2018,7 seat,Gasoline,Suv,"25,000 Km",First Owner,Cvt,Manila,1498 CC

Under 1,000,000

In [ ]:
df_1m = df.copy()
df_1m = df_1m.drop_duplicates().reset_index(drop=True)
display(df_1m)
df_1m.to_csv("df_1m.csv")

,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,2018 Toyota Hiace Commuter 3.0 M/T Detail,"₱955,000",2018,15 seat,Diesel,Van,"42,323 Km",First Owner,Manual,Marikina City,2982 CC,NaN
1,2020 Mitsubishi Xpander Cross AT Detail,"₱958,000",2020,7 seat,Gasoline,Mpv,"15,000 Km",First Owner,Automatic,Quezon City,1499 CC,NaN
2,2017 Chevrolet Trailblazer 2.8 2WD 6AT LT Detail,"₱958,000",2017,7 seat,Diesel,Suv,1 Km,First Owner,Automatic,Pasig,2776 CC,NaN
3,2020 Ford Ranger 2.2L XLS 4x2 AT Detail,"₱958,000",2020,5 seat,Diesel,Pickup-trucks,"18,000 Km",First Owner,Automatic,Pasig,2198 CC,2019
4,2021 Mitsubishi Xpander Cross 1.5L AT Detail,"₱958,000",2021,7 seat,Gasoline,Mpv,"35,000 Km",First Owner,Automatic,Paranaque,1499 CC,2023
...,...,...,...,...,...,...,...,...,...,...,...,...
80,2017 Mitsubishi Montero Sport GLS 2WD AT Detail,₱1 Million,2017,7 seat,Diesel,Suv,"23,500 Km",First Owner,Automatic,Quezon City,2442 CC,2023
81,2015 Toyota Fortuner 2.4 G Diesel 4x2 AT Detail,₱1 Million,2015,7 seat,Diesel,Suv,"15,000 Km",First Owner,Automatic,Cainta,2393 CC,2023
82,2022 Ford Territory Titanium Detail,₱1 Million,2022,5 seat,Gasoline,Suv,"20,000 Km",First Owner,Automatic,Makati City,1499 CC,2022
83,2021 Ford Ranger 2.0L Turbo Wildtrak 4x2 AT De...,₱1 Million,2021,5 seat,Diesel,Pickup-trucks,"12,200 Km",First Owner,Automatic,Paranaque,1996 CC,2021
84,2019 Toyota Fortuner 2.7 G Gas A/T Detail,₱1 Million,2019,7 seat,Gasoline,Suv,"48,000 Km",First Owner,Automatic,Pasig,2694 CC,2019

Under 1,100,000*

In [ ]:
df_1_1m = df.copy()
df_1_1m = df_1_1m.drop_duplicates().reset_index(drop=True)
display(df_1_1m)
df_1_1m.to_csv("df_1_1m.csv")

,model,price,registration_year,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement
0,2018 Toyota Hilux 2.4L G 2WD AT Detail,₱1 Million,2018,2018,5 seat,Diesel,Pickup-trucks,"79,624 Km",First Owner,Automatic,Manila,2498 CC
1,2017 Mitsubishi Montero Sport 2.5 GLS V 4x2 AT...,₱1.02 Million,NaN,2017,7 seat,Diesel,Suv,"40,000 Km",First Owner,Automatic,Las Piñas,2477 CC
2,2017 Toyota Fortuner Gas AT 4x2 2.7 G Detail,₱1.02 Million,NaN,2017,7 seat,Gasoline,Suv,"50,000 Km",First Owner,Automatic,Las Piñas,2694 CC
3,2011 Toyota Hiace 2.5 L Super Grandia AT Detail,₱1.02 Million,NaN,2011,NaN,Diesel,Van,"96,000 Km",First Owner,Automatic,Pasig,2498 CC
4,2019 Toyota Hiace 3.0L Commuter MT Detail,₱1.02 Million,NaN,2019,15 seat,Diesel,Van,"50,000 Km",First Owner,Manual,Marilao,2982 CC
...,...,...,...,...,...,...,...,...,...,...,...,...
109,2019 Mazda CX-9 2.5L Turbo AWD Exclusive Detail,₱1.1 Million,2019,2019,7 seat,Gasoline,Suv,"95,000 Km",First Owner,Automatic,Mandaluyong City,2488 CC
110,2023 Hyundai Tucson 2.0L GLS AT Detail,₱1.1 Million,2023,2023,5 seat,Gasoline,Suv,"23,027 Km",First Owner,Automatic,Manila,1999 CC
111,2021 Toyota Innova 2.8L V AT Detail,₱1.1 Million,2021,2021,NaN,Diesel,Mpv,"35,000 Km",First Owner,Automatic,Makati City,NaN
112,2015 Hyundai Grand Starex 2.5 CRDi GLS 5AT Urb...,₱1.1 Million,2015,2015,9 seat,Diesel,Minivans,"100,000 Km",First Owner,Automatic,Naga,2497 CC
113,2017 Foton View Traveller 2.8L MT Detail,₱1.1 Million,2017,2017,16 seat,Diesel,Van,"39,000 Km",First Owner,Manual,Muntinlupa,2800 CC

Under 1,200,000

In [ ]:
df_1_2m = df.copy()
df_1_2m = df_1_2m.drop_duplicates().reset_index(drop=True)
display(df_1_2m)
df_1_2m.to_csv("df_1_2m.csv")

,model,price,make_year,seats,fuel_type,body_type,ownership,transmission,city,engine_displacement,registration_year,kms_driven
0,2023 Toyota Veloz 1.5L G Detail,₱1.108 Million,2023,7 seat,Gasoline,Suv,First Owner,Cvt,Pasig,1496 CC,NaN,NaN
1,2017 Toyota Fortuner 2.4L G AT Detail,₱1.12 Million,2017,7 seat,Diesel,Suv,First Owner,Automatic,Quezon City,2393 CC,2017,"30,000 Km"
2,2022 Ford Territory Titanium Plus Detail,₱1.12 Million,2022,5 seat,Gasoline,Crossover,First Owner,Cvt,Las Piñas,1490 CC,NaN,"16,000 Km"
3,2020 Suzuki Jimny GL Monotone 5MT Detail,₱1.128 Million,2020,4 seat,Gasoline,Suv,First Owner,Manual,Pasig,1462 CC,NaN,1 Km
4,2019 Mitsubishi Montero Sport GLX 2WD MT Detail,₱1.128 Million,2019,7 seat,Diesel,Suv,First Owner,Manual,Quezon City,2442 CC,NaN,"41,000 Km"
...,...,...,...,...,...,...,...,...,...,...,...,...
64,2019 Subaru XV GT Edition Detail,₱1.2 Million,2019,5 seat,Gasoline,Crossover,First Owner,Cvt,Manila,1995 CC,2020,"39,000 Km"
65,2016 BMW 5 Series Gran Turismo 520d Detail,₱1.2 Million,2016,5 seat,Diesel,Sedan,First Owner,Automatic,Quezon City,1995 CC,2016,"82,000 Km"
66,2020 Suzuki Jimny GLX 2 Tone 4AT Detail,₱1.2 Million,2020,4 seat,Gasoline,Suv,First Owner,Automatic,Cebu City,1462 CC,2021,"28,000 Km"
67,2018 Ford Everest 2.0L Turbo Titanium Plus 4x2...,₱1.2 Million,2018,7 seat,Diesel,Suv,First Owner,Automatic,Dasmariñas,1996 CC,2023,"38,000 Km"
68,2020 Ford Everest 2.0L Turbo Titanium Plus 4x2...,₱1.2 Million,2020,7 seat,Diesel,Suv,First Owner,Automatic,Quezon City,1996 CC,2020,"80,000 Km"

Under 1,300,000

In [ ]:
df_1_3m = df.copy()
df_1_3m = df_1_3m.drop_duplicates().reset_index(drop=True)
display(df_1_3m)
df_1_3m.to_csv("df_1_3m.csv")

,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,2018 Mitsubishi Montero Sport GLS 2WD AT Detail,₱1.208 Million,2018,7 seat,Diesel,Suv,1 Km,First Owner,Automatic,Quezon City,2442 CC,NaN
1,2022 Ford Ranger XLT 2.2L 4x2 AT Detail,₱1.218 Million,2022,NaN,Diesel,Pickup-trucks,"2,000 Km",First Owner,Automatic,Mandaue City,NaN,NaN
2,2019 Nissan Terra 2.5 4x2 VE AT Detail,₱1.22 Million,2019,7 seat,Diesel,Suv,"30,000 Km",First Owner,Automatic,Las Piñas,2488 CC,NaN
3,2018 Toyota Fortuner 2.4L G AT Detail,₱1.22 Million,2018,7 seat,Diesel,Suv,"45,000 Km",First Owner,Automatic,Cainta,2393 CC,NaN
4,2018 Toyota Fortuner 2.4L G AT Detail,₱1.225 Million,2018,7 seat,Diesel,Suv,"37,000 Km",First Owner,Automatic,Paranaque,2393 CC,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
68,2019 Toyota Fortuner 2.4 G Diesel 4x2 AT Detail,₱1.298 Million,2019,7 seat,Diesel,Suv,"35,000 Km",First Owner,Automatic,Pasig,2393 CC,NaN
69,2017 Honda CR-V S-Diesel 9AT Honda Sensing Detail,₱1.3 Million,2017,7 seat,Diesel,Suv,"40,000 Km",First Owner,Automatic,San Mariano,1597 CC,2017
70,2015 Toyota Fortuner 2.4 V Diesel 4x2 AT Detail,₱1.3 Million,2015,7 seat,Diesel,Suv,"15,400 Km",First Owner,Automatic,Pasig,2393 CC,2015
71,2017 Toyota Fortuner 2.4L G AT Detail,₱1.3 Million,2017,7 seat,Diesel,Suv,"49,000 Km",First Owner,Automatic,Taal,2393 CC,NaN
72,2017 Honda CR-V 2.0 S CVT Detail,₱1.3 Million,2017,5 seat,Gasoline,Suv,"11,400 Km",Second Owner,Cvt,Paranaque,1997 CC,2017

Under 1,400,000

In [ ]:
df_1_4m = df.copy()
df_1_4m = df_1_4m.drop_duplicates().reset_index(drop=True)
display(df_1_4m)
df_1_4m.to_csv("df_1_4m.csv")

,model,price,make_year,fuel_type,body_type,kms_driven,ownership,transmission,city,seats,engine_displacement,registration_year
0,2017 Hyundai Grand Starex 2.5 CVX Detail,₱1.32 Million,2017,Diesel,Van,"21,000 Km",First Owner,Automatic,Valenzuela,NaN,NaN,NaN
1,2020 Toyota Fortuner 2.4 G Diesel 4x2 AT Detail,₱1.32 Million,2020,Diesel,Suv,"28,000 Km",First Owner,Automatic,Caloocan City,7 seat,2393 CC,NaN
2,2016 Toyota Fortuner 2.4 V Diesel 4x2 AT Detail,₱1.325 Million,2016,Diesel,Suv,"30,000 Km",First Owner,Automatic,Quezon City,7 seat,2393 CC,2023
3,2018 Ford Everest Titanium 2.2L 4x2 AT with Pr...,₱1.328 Million,2018,Diesel,Suv,NaN,First Owner,Automatic,Paranaque,7 seat,2199 CC,NaN
4,2018 Toyota Hiace 3.0 GL Grandia AT Detail,₱1.33 Million,2018,Diesel,Van,1 Km,First Owner,Automatic,Pasig,11 seat,2982 CC,NaN
5,2020 Toyota Fortuner 2.4 G Diesel 4x2 AT Detail,₱1.332 Million,2020,Diesel,Suv,"21,000 Km",First Owner,Automatic,Cebu City,7 seat,2393 CC,2020
6,2014 BMW 5 Series Sedan 520d Detail,₱1.338 Million,2014,Diesel,Sedan,"35,000 Km",First Owner,Automatic,Quezon City,5 seat,1995 CC,2014
7,2019 Nissan Terra 2.5 4x4 VL AT Detail,₱1.34 Million,2019,Diesel,Suv,"46,000 Km",First Owner,Automatic,Quezon City,7 seat,2488 CC,2019
8,2021 Toyota Hilux Conquest 2.4 4x2 A/T Detail,₱1.345 Million,2021,Diesel,Pickup-trucks,"22,000 Km",First Owner,Automatic,Quezon City,5 seat,2393 CC,2021
9,2017 Ford Explorer 2.3L Limited EcoBoost Detail,₱1.345 Million,2017,Gasoline,Suv,"26,000 Km",First Owner,Automatic,Quezon City,7 seat,2296 CC,2018
10,2014 BMW 3 Series Sedan 318d Luxury Detail,₱1.35 Million,2014,Diesel,Sedan,"45,000 Km",Second Owner,Automatic,Pasig,5 seat,1995 CC,2014
11,2018 Kia Carnival 2.2 EX 7-Seater AT Detail,₱1.35 Million,2018,Diesel,Mpv,"120,000 Km",First Owner,Automatic,Manila,7 seat,2151 CC,2018
12,2017 Toyota Fortuner 2.4 V AT Detail,₱1.35 Million,2017,Diesel,Suv,"57,000 Km",First Owner,Automatic,Quezon City,7 seat,2393 CC,NaN
13,2019 Nissan Terra 2.5 4x2 VL AT Detail,₱1.35 Million,2019,Diesel,Suv,"27,000 Km",First Owner,Automatic,Pasig,7 seat,2488 CC,NaN
14,2020 Toyota Fortuner 2.4 G Diesel 4x2 AT Detail,₱1.35 Million,2020,Diesel,Suv,"29,000 Km",First Owner,Automatic,Makati City,7 seat,2393 CC,NaN
15,2020 Ford Everest 2.0L Bi-Turbo Titanium Plus ...,₱1.35 Million,2020,Diesel,Suv,"60,000 Km",First Owner,Automatic,san-fernando,7 seat,1996 CC,2023
16,2022 Toyota Hilux 2.4L G 2WD AT Detail,₱1.35 Million,2022,Diesel,Pickup-trucks,"30,000 Km",First Owner,Automatic,Manila,5 seat,2498 CC,2022
17,2021 Toyota Hilux Conquest 2.4 4x2 A/T Detail,₱1.355 Million,2021,Diesel,Pickup-trucks,"18,000 Km",First Owner,Automatic,"Talisay City, Cebu",5 seat,2393 CC,2021
18,2019 Ford Everest 2.0L Turbo Titanium+ 4x2 AT ...,₱1.358 Million,2019,Diesel,Suv,"23,000 Km",First Owner,Automatic,Paranaque,7 seat,1996 CC,NaN
19,2020 Mitsubishi Montero Sport GLS 2WD AT Detail,₱1.358 Million,2020,Diesel,Suv,NaN,First Owner,Automatic,Cavite City,7 seat,2442 CC,NaN
20,2018 Ford Explorer 2.3L Limited EcoBoost Detail,₱1.358 Million,2018,Gasoline,Suv,"53,000 Km",First Owner,Automatic,Cavite City,7 seat,2296 CC,NaN
21,2019 Toyota Fortuner 2.4 G Diesel 4x2 AT Detail,₱1.365 Million,2019,Diesel,Suv,"23,000 Km",First Owner,Automatic,Quezon City,7 seat,2393 CC,2019
22,2019 Toyota Hiace 3.0 GL Grandia AT Detail,₱1.365 Million,2019,Diesel,Van,"55,000 Km",First Owner,Automatic,Quezon City,NaN,NaN,2019
23,2017 Toyota 86 2.0 MT Detail,₱1.368 Million,2017,Gasoline,Coupe,"36,000 Km",First Owner,Manual,Quezon City,4 seat,1998 CC,NaN
24,2018 Toyota Fortuner 2.4 V AT Detail,₱1.38 Million,2018,Diesel,Suv,"30,000 Km",First Owner,Automatic,Las Piñas,7 seat,2393 CC,NaN
25,2021 Nissan NV350 Urvan Standard 15-Seater Detail,₱1.38 Million,2021,Diesel,Minivans,NaN,First Owner,Manual,Quezon City,15 seat,2488 CC,NaN
26,2019 Nissan Terra 2.5 4x2 VE AT Detail,₱1.388 Million,2019,Diesel,Suv,1 Km,First Owner,Automatic,Quezon City,7 seat,2488 CC,NaN
27,2010 Jeep Commander 3.0L AT Detail,₱1.388 Million,2010,Diesel,Suv,"40,000 Km",Second Owner,Automatic,Quezon City,NaN,NaN,2011
28,2019 Subaru WRX 2.0 CVT Detail,₱1.388 Million,2019,Gasoline,Sedan,"30,000 Km",First Owner,Cvt,Bacoor,5 seat,1998 CC,2019
29,2016 Toyota Hiace 3.0 Super Grandia AT Detail,₱1.39 Million,2016,Diesel,Van,"38,000 Km",First Owner,Automatic,Pasig,11 seat,2982 CC,2016
30,2018 Kia Grand Carnival 2.2 EX AT (7-Seater) D...,₱1.39 Million,2018,Diesel,Mpv,"60,000 Km",First Owner,Automatic,Las Piñas,7 seat,2199 CC,NaN
31,2019 Nissan NV350 Urvan Premium A/T 15-Seater ...,₱1.39 Million,2019,Diesel,Minivans,NaN,First Owner,Automatic,Quezon City,15 seat,2488 CC,NaN
32,1995 BMW M3 4.0L AT Detail,₱1.395 Million,1995,Gasoline,Coupe,"17,000 Km",Third Owner,Automatic,Quezon City,NaN,NaN,1995
33,2010 Infiniti QX80 5.6L Detail,₱1.398 Million,2010,Gasoline,Suv,"80,000 Km",First Owner,Automatic,Quezon City,NaN,NaN,2010
34,2011 Mercedes-Benz GLK Class GLK 220 CDI 4MATI...,₱1.398 Million,2011,Diesel,Suv,"69,000 Km",First Owner,Automatic,Quezon City,7 seat,2143 CC,NaN
35,2009 Porsche Cayenne Turbo Detail,₱1.398 Million,2009,Gasoline,Suv,"35,000 Km",First Owner,Automatic,Quezon City,NaN,NaN,NaN
36,2020 Nissan NP300 Navara 2.5L 4x4 VL 7AT Detail,₱1.398 Million,2020,Diesel,Pickup-trucks,"21,000 Km",First Owner,Automatic,Quezon City,5 seat,2488 CC,2020
37,2020 Nissan NV350 Urvan Premium AT Detail,₱1.398 Million,2020,Diesel,Van,"26,000 Km",First Owner,Automatic,Quezon City,NaN,2488 CC,2020
38,2016 Subaru BRZ 2.0L AT Detail,₱1.398 Million,2016,Gasoline,Coupe,"28,000 Km",First Owner,Automatic,Mandaue City,NaN,1998 CC,NaN
39,2020 Ford Everest 2.0L Turbo Titanium+ 4x2 AT ...,₱1.398 Million,2020,Diesel,Suv,NaN,First Owner,Automatic,Cavite City,7 seat,1996 CC,NaN
40,2018 Ford Everest Titanium 3.2L 4x4 AT with Pr...,₱1.398 Million,2018,Diesel,Suv,NaN,First Owner,Automatic,Paranaque,7 seat,3198 CC,NaN
41,2020 Toyota Hilux Conquest 2.4 4x2 A/T Detail,₱1.398 Million,2020,Diesel,Pickup-trucks,"40,000 Km",Second Owner,Automatic,Bacoor,5 seat,2393 CC,2020
42,2007 Mercedes-Benz S-Class S350 3.5L Detail,₱1.4 Million,2007,Gasoline,Sedan,1 Km,First Owner,Automatic,"San Juan, Metro Manila",NaN,NaN,NaN
43,2020 Ford Ranger Raptor 2.0L Bi-Turbo 4WD Detail,₱1.4 Million,2020,Diesel,Pickup-trucks,"35,000 Km",Second Owner,Automatic,Manila,5 seat,1996 CC,2020

Under 1,500,000

In [ ]:
df_1_5m = df.copy()
df_1_5m = df_1_5m.drop_duplicates().reset_index(drop=True)
display(df_1_5m)
df_1_5m.to_csv("df_1_5m.csv")

,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,2016 Ford Explorer 3.5L 4x4 Limited+ Detail,₱1.42 Million,2016,7 seat,Gasoline,Suv,"40,000 Km",First Owner,Automatic,Las Piñas,3497 CC,NaN
1,2020 Toyota Hiace Commuter Deluxe Detail,₱1.42 Million,2020,15 seat,Diesel,Van,"18,000 Km",First Owner,Manual,Las Piñas,2755 CC,NaN
2,2019 Toyota Hilux Conquest 2.8 4x4 M/T Detail,₱1.428 Million,2019,5 seat,Diesel,Pickup-trucks,1 Km,First Owner,Manual,Quezon City,2755 CC,NaN
3,2020 Nissan Terra 2.5 4x2 VE AT Detail,₱1.428 Million,2020,7 seat,Diesel,Suv,"17,000 Km",First Owner,Automatic,Paranaque,2488 CC,2020
4,2019 Toyota Fortuner 2.4 V Diesel 4x2 AT Detail,₱1.428 Million,2019,7 seat,Diesel,Suv,"49,000 Km",First Owner,Automatic,Pasig,2393 CC,NaN
5,2014 Toyota FJ Cruiser 4.0L AT Detail,₱1.45 Million,2014,NaN,Gasoline,Suv,"19,000 Km",First Owner,Automatic,Paranaque,3998 CC,2014
6,2020 Jeep Renegade Longitude Detail,₱1.45 Million,2020,5 seat,Gasoline,Suv,"11,000 Km",First Owner,Automatic,Valenzuela,1398 CC,2020
7,2019 Ford Ranger Raptor 2.0L Bi-Turbo Detail,₱1.45 Million,2019,5 seat,Diesel,Pickup-trucks,NaN,First Owner,Automatic,Quezon City,1996 CC,NaN
8,2018 Mazda CX-9 2.5L Turbo Black Edition Detail,₱1.45 Million,2018,7 seat,Gasoline,Suv,"74,000 Km",First Owner,Automatic,Quezon City,2488 CC,2019
9,2018 Hyundai Grand Starex 2.5 Gold Dsl Detail,₱1.458 Million,2018,10 seat,Diesel,Van,1 Km,First Owner,Automatic,Quezon City,2497 CC,NaN
10,2020 Nissan Terra 2.5 4x2 VL AT Detail,₱1.468 Million,2020,7 seat,Diesel,Suv,"32,000 Km",First Owner,Automatic,Marikina City,2488 CC,2020
11,2020 Nissan Terra 2.5 4x2 VL AT Detail,₱1.468 Million,2020,7 seat,Diesel,Suv,"28,000 Km",First Owner,Automatic,Marikina City,2488 CC,2020
12,2020 Toyota Hiace Commuter Deluxe Detail,₱1.468 Million,2020,15 seat,Diesel,Van,"30,000 Km",First Owner,Manual,Marikina City,2755 CC,2020
13,2018 Toyota Hiace 3.0 GL Grandia AT Detail,₱1.468 Million,2018,NaN,Diesel,Van,"69,000 Km",First Owner,Automatic,Marikina City,NaN,2018
14,2017 Toyota Hiace 3.0 Super Grandia AT Detail,₱1.478 Million,2017,11 seat,Diesel,Van,"13,800 Km",First Owner,Automatic,Quezon City,2982 CC,2017
15,2015 Hyundai Grand Starex 2.5L CRDI AT PLATINU...,₱1.488 Million,2015,12 seat,Diesel,Minivans,1 Km,First Owner,Automatic,Quezon City,2497 CC,NaN
16,2013 Lexus ES 350 3.5 FWD Detail,₱1.488 Million,2013,NaN,Gasoline,Sedan,"36,000 Km",Second Owner,Automatic,Quezon City,NaN,2013
17,2022 Toyota Innova 2.8 G Diesel AT Detail,₱1.49 Million,2022,8 seat,Diesel,Mpv,"7,000 Km",First Owner,Automatic,Las Piñas,2755 CC,NaN
18,2020 Toyota Fortuner 2.4 V Diesel 4x2 AT Detail,₱1.49 Million,2020,7 seat,Diesel,Suv,"54,000 Km",First Owner,Automatic,Quezon City,2393 CC,NaN
19,2019 Nissan Terra 2.5L 4x4 VL AT Detail,₱1.49 Million,2019,7 seat,Diesel,Suv,NaN,First Owner,Automatic,Quezon City,2488 CC,NaN
20,2020 Toyota Fortuner 2.4 G Diesel 4x2 AT Detail,₱1.498 Million,2020,7 seat,Diesel,Suv,"28,000 Km",First Owner,Automatic,Quezon City,2393 CC,2020
21,2018 Toyota Hilux Conquest 2.8 4x4 A/T Detail,₱1.498 Million,2018,5 seat,Diesel,Pickup-trucks,"57,000 Km",First Owner,Automatic,Pasig,2755 CC,NaN
22,2019 Ford Ranger 2.0L Bi-Turbo Wildtrak 4x4 AT...,₱1.498 Million,2019,5 seat,Diesel,Pickup-trucks,"20,000 Km",First Owner,Automatic,Paranaque,1996 CC,NaN
23,2020 Nissan Terra 2.5 4x2 VL AT Detail,₱1.498 Million,2020,7 seat,Diesel,Suv,NaN,First Owner,Automatic,Paranaque,2488 CC,NaN
24,2019 Toyota Hilux Conquest 2.8 4x4 A/T Detail,₱1.498 Million,2019,5 seat,Diesel,Pickup-trucks,NaN,First Owner,Automatic,Paranaque,2755 CC,NaN
25,2017 Mercedes-Benz A-Class 180 (automatic) Detail,₱1.5 Million,2017,5 seat,Gasoline,Hatchback,"20,000 Km",First Owner,Automatic,Taguig,1595 CC,2022
26,2019 Nissan Terra 2.5 4x4 VL AT Detail,₱1.5 Million,2019,7 seat,Diesel,Suv,"17,000 Km",First Owner,Automatic,Pasig,2488 CC,2019
27,2023 Ford Ranger 2.0L Turbo Sport 4x4 AT Detail,₱1.5 Million,2023,5 seat,Diesel,Pickup-trucks,"15,000 Km",First Owner,Automatic,Baguio City,1996 CC,2023
28,2019 Ford Ranger Raptor 2.0L Bi-Turbo Detail,₱1.5 Million,2019,5 seat,Diesel,Pickup-trucks,"43,000 Km",First Owner,Automatic,Bacolod City,1996 CC,NaN
29,2023 Chery Tiggo 7 Pro 1.5L Detail,₱1.5 Million,2023,5 seat,Gasoline,Suv,400 Km,First Owner,Cvt,Trece Martires City,1498 CC,2023
30,2015 MINI 5 Door Cooper S Detail,₱1.5 Million,2015,5 seat,Gasoline,Hatchback,"33,180 Km",First Owner,Automatic,Taguig,1998 CC,2023
31,2022 Subaru XV 2.0i-S EyeSight Detail,₱1.5 Million,2022,5 seat,Gasoline,Suv,"18,000 Km",First Owner,Cvt,Bacoor,1995 CC,2022

Under 2,000,000

In [ ]:
df_2m = df.copy()
df_2m = df_2m.drop_duplicates().reset_index(drop=True)
display(df_2m)
df_2m.to_csv("df_2m.csv")

,model,price,make_year,seats,fuel_type,body_type,ownership,transmission,city,engine_displacement,registration_year,kms_driven
0,2019 Nissan Terra 2.5 4x4 VL AT Detail,₱1.508 Million,2019,7 seat,Diesel,Suv,First Owner,Automatic,Paranaque,2488 CC,NaN,NaN
1,2023 Ford Ranger 2.0L Turbo Wildtrak 4x2 AT De...,₱1.518 Million,2023,5 seat,Diesel,Pickup-trucks,First Owner,Automatic,Quezon City,1996 CC,2023,"8,000 Km"
2,2016 Toyota 86 2.0 AT Detail,₱1.525 Million,2016,4 seat,Gasoline,Coupe,First Owner,Automatic,Marilao,1998 CC,NaN,"34,000 Km"
3,2018 Toyota Hiace 3.0 Super Grandia AT Detail,₱1.528 Million,2018,11 seat,Diesel,Van,First Owner,Automatic,Quezon City,2982 CC,NaN,1 Km
4,2015 Subaru WRX STI 2.5 MT Detail,₱1.55 Million,2015,5 seat,Gasoline,Sedan,Second Owner,Manual,Dumaguete city,2457 CC,2016,"20,000 Km"
...,...,...,...,...,...,...,...,...,...,...,...,...
102,2005 Hummer H2 6.0L Detail,₱2 Million,2005,NaN,Gasoline,Suv,Second Owner,Automatic,Pasig,NaN,2016,"45,000 Km"
103,2020 Mazda CX-9 2.5L Turbo AWD Exclusive Detail,₱2 Million,2020,7 seat,Gasoline,Suv,First Owner,Automatic,Quezon City,2488 CC,2020,"10,000 Km"
104,2016 Toyota Land Cruiser Prado 4.0L AT Detail,₱2 Million,2016,NaN,Gasoline,Suv,Second Owner,Automatic,Makati City,NaN,2018,"75,000 Km"
105,2016 Ford Explorer 3.5L Sport EcoBoost Detail,₱2 Million,2016,7 seat,Gasoline,Suv,Third Owner,Automatic,Baguio City,3496 CC,2020,"25,000 Km"
106,2019 Audi A4 1.4 TFSI Detail,₱2 Million,2019,5 seat,Gasoline,Sedan,First Owner,Automatic,Makati City,1395 CC,2023,"3,000 Km"

Under 3,000,000

In [ ]:
df_3m = df.copy()
df_3m = df_3m.drop_duplicates().reset_index(drop=True)
display(df_3m)
df_3m.to_csv("df_3m.csv")

,model,price,make_year,seats,fuel_type,body_type,ownership,transmission,city,engine_displacement,kms_driven,registration_year
0,2018 Toyota Hiace LXV Super Grandia 3.0 LXV A/...,₱2.038 Million,2018,10 seat,Diesel,Van,First Owner,Automatic,Pasig,2982 CC,NaN,NaN
1,2018 Toyota FJ Cruiser 4.0L V6 Detail,₱2.05 Million,2018,5 seat,Gasoline,Suv,First Owner,Automatic,Pasig,3956 CC,NaN,NaN
2,2018 Mercedes-Benz CLA-Class 200 Detail,₱2.09 Million,2018,5 seat,Gasoline,Sedan,First Owner,Dual-clutch,Las Piñas,1332 CC,"18,000 Km",NaN
3,2020 Mazda CX-5 2.0L FWD Pro Detail,₱2.1 Million,2020,5 seat,Gasoline,Crossover,First Owner,Automatic,Manila,1998 CC,"10,000 Km",2023
4,2019 Toyota Hiace GL Grandia A/T Detail,₱2.1 Million,2019,12 seat,Diesel,Van,First Owner,Automatic,Quezon City,2755 CC,"46,000 Km",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
69,2016 Land Rover Discovery Sport S 2.0L Diesel ...,₱2.95 Million,2016,7 seat,Diesel,Suv,Second Owner,Automatic,Pasig,1999 CC,"12,000 Km",2018
70,2018 Dodge Durango GT Detail,₱2.95 Million,2018,7 seat,Gasoline,Suv,First Owner,Automatic,Pasig,3598 CC,200 Km,2018
71,2023 Toyota Fortuner GR Sport 2.8L 4x4 AT Detail,₱2.95 Million,2023,7 seat,Diesel,Suv,First Owner,Automatic,Quezon City,2755 CC,NaN,NaN
72,2017 Mercedes-Benz E200 2.0 L AT Detail,₱2.998 Million,2017,NaN,Gasoline,Luxury-vehicles,First Owner,Automatic,Pasig,NaN,"23,000 Km",2017
73,2002 Porsche 996 3.6L Detail,₱3 Million,2002,NaN,Gasoline,Coupe,First Owner,Automatic,Makati City,NaN,"130,000 Km",2009

Under 4000000

In [ ]:
df_4m = df.copy()
df_4m = df_4m.drop_duplicates().reset_index(drop=True)
display(df_4m)
df_4m.to_csv("df_4m.csv")

,model,price,registration_year,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement
0,2016 Chevrolet Suburban 4X2 LT Detail,₱3.05 Million,2016,2016,8 seat,Gasoline,Suv,"74,000 Km",First Owner,Automatic,Pasig,5328 CC
1,2017 Chevrolet Camaro 3.6L AT Detail,₱3.08 Million,2017,2017,NaN,Gasoline,Coupe,"11,000 Km",First Owner,Automatic,Quezon City,NaN
2,2020 Toyota Hiace LXV Super Grandia 3.0 LXV A/...,₱3.1 Million,2023,2020,10 seat,Diesel,Van,"20,000 Km",First Owner,Automatic,Quezon City,2982 CC
3,2019 Chevrolet Camaro 2.0L Turbo 3LT RS Detail,₱3.1 Million,2019,2019,4 seat,Gasoline,Coupe,"6,000 Km",Second Owner,Automatic,Pasig,1998 CC
4,2018 BMW 5 Series Gran Turismo 535i Detail,₱3.16 Million,2018,2018,5 seat,Gasoline,Sedan,"7,000 Km",First Owner,Automatic,Makati City,2979 CC
5,2019 BMW 5 Series Sedan 520d Detail,₱3.188 Million,NaN,2019,5 seat,Diesel,Sedan,"12,000 Km",First Owner,Automatic,Cavite City,1995 CC
6,2018 Toyota Land Cruiser Prado 4.0L Gas AT Detail,₱3.2 Million,2023,2018,7 seat,Gasoline,Suv,"38,000 Km",First Owner,Automatic,Manila,3956 CC
7,2016 Chevrolet Suburban 4X4 LTZ Detail,₱3.2 Million,2016,2016,7 seat,Gasoline,Suv,"35,000 Km",First Owner,Automatic,Pasig,5328 CC
8,2018 Mercedes-Benz E-Class Sedan E220 d Avantg...,₱3.23 Million,NaN,2018,5 seat,Diesel,Sedan,"40,000 Km",First Owner,Automatic,Las Piñas,1950 CC
9,2023 Hyundai Palisade 2.2 Diesel AT 4WD Detail,₱3.25 Million,2023,2023,7 seat,Diesel,Suv,"15,000 Km",Second Owner,Automatic,Manila,2199 CC
10,2019 Toyota Alphard 3.5 Gas AT Detail,₱3.3 Million,2019,2019,7 seat,Gasoline,Mpv,"17,000 Km",First Owner,Automatic,Lapu-Lapu City,3456 CC
11,2019 Chevrolet Tahoe 4x4 Z71 Detail,₱3.3 Million,2019,2019,8 seat,Diesel,Suv,"80,000 Km",First Owner,Automatic,Cavite City,5298 CC
12,2020 BMW 4 Series Gran Coupe 420d Detail,₱3.35 Million,2020,2020,5 seat,Diesel,Coupe,"16,000 Km",First Owner,Automatic,Cainta,1995 CC
13,2013 Toyota Land Cruiser 200 4.5L VX AT Detail,₱3.388 Million,NaN,2013,NaN,Diesel,Suv,"32,864 Km",First Owner,Automatic,Quezon City,NaN
14,2019 Nissan Patrol Royale 5.6 V8 4x4 AT Detail,₱3.4 Million,2023,2019,8 seat,Gasoline,Suv,"25,000 Km",First Owner,Automatic,Davao City,5552 CC
15,2014 Land Rover Discovery Sport SD4 SE Diesel ...,₱3.48 Million,2022,2014,5 seat,Diesel,Suv,"5,000 Km",First Owner,Automatic,Quezon City,2995 CC
16,2017 Mercedes-Benz CLA-Class 45 AMG 4Matic Detail,₱3.5 Million,NaN,2017,5 seat,Gasoline,Coupe,"10,000 Km",First Owner,Automatic,Pasig,1991 CC
17,2016 Mercedes-Benz GLE-Class 2.0L GLE300d AT D...,₱3.528 Million,2023,2016,NaN,Diesel,Suv,"20,000 Km",First Owner,Automatic,Makati City,NaN
18,2016 GMC Savana 6.0L Detail,₱3.58 Million,NaN,2016,NaN,Gasoline,Van,"1,600 Km",First Owner,Automatic,Quezon City,NaN
19,2018 Mercedes-Benz E-Class Sedan 2.0L E250 AT ...,₱3.6 Million,2023,2018,NaN,Gasoline,Luxury-vehicles,"3,384 Km",First Owner,Automatic,Quezon City,NaN
20,2013 Land Rover Range Rover Autobiography SDV8...,₱3.698 Million,2013,2013,4 seat,Diesel,Suv,"43,000 Km",First Owner,Automatic,Quezon City,2179 CC
21,2019 Toyota Land Cruiser Prado 3.0L VX AT Detail,₱3.7 Million,2019,2019,NaN,Diesel,Suv,"39,000 Km",First Owner,Automatic,"Talisay City, Cebu",NaN
22,2019 Audi Q7 3.0 TDI Quattro Premium Detail,₱3.7 Million,2019,2019,7 seat,Diesel,Suv,"100,000 Km",First Owner,Automatic,Angeles City,2967 CC
23,2010 BMW 3 Series 2.0L 318i AT Detail,₱3.7 Million,2010,2010,NaN,Gasoline,Sedan,"40,000 Km",Third Owner,Automatic,Pasig,1998 CC
24,2016 Toyota Land Cruiser 200 4.5L VX AT Detail,₱3.75 Million,2016,2016,NaN,Diesel,Suv,"37,000 Km",First Owner,Automatic,Pasig,NaN
25,2010 Mercedes-Benz C63 AMG 6.2 L AT Detail,₱3.8 Million,NaN,2010,NaN,Gasoline,Sedan,"24,000 Km",First Owner,Automatic,"San Juan, Metro Manila",NaN
26,2020 Toyota Alphard 2.5 HEV CVT Detail,₱3.8 Million,2020,2020,7 seat,Hybrid,Mpv,"30,000 Km",First Owner,Cvt,Makato,2487 CC
27,2020 Toyota Land Cruiser 70 LX Detail,₱3.85 Million,2020,2020,7 seat,Diesel,Suv,1 Km,First Owner,Manual,Mandaue City,4461 CC
28,2023 Toyota Hiace Super Grandia Elite AT Detail,₱3.85 Million,NaN,2023,10 seat,Diesel,Van,NaN,First Owner,Automatic,Pasig,2755 CC
29,2011 Audi RS5 Coupe 2.9L TFSI Detail,₱3.889 Million,2022,2011,4 seat,Gasoline,Coupe,"20,000 Km",First Owner,Automatic,Quezon City,2894 CC

Under 5000000

In [ ]:
df_5m = df.copy()
df_5m = df_5m.drop_duplicates().reset_index(drop=True)
display(df_5m)
df_5m.to_csv("df_5m.csv")

,model,price,registration_year,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement
0,2022 Nissan Patrol Royale 5.6 V8 4x4 AT Detail,₱4.108 Million,2022,2022,8 seat,Gasoline,Suv,"13,800 Km",First Owner,Automatic,Pasig,5552 CC
1,2009 Porsche Cayman S Manual Detail,₱4.2 Million,NaN,2009,2 seat,Gasoline,Coupe,"32,000 Km",First Owner,Manual,Quezon City,3436 CC
2,2022 Audi e-tron Electric Detail,₱4.2 Million,2022,2022,5 seat,Electric,Suv,"30,000 Km",First Owner,Automatic,Paranaque,NaN
3,2019 Toyota Alphard 3.5 Gas AT Detail,₱4.25 Million,2019,2019,7 seat,Gasoline,Mpv,"50,000 Km",First Owner,Automatic,Silang,3456 CC
4,2017 Toyota Land Cruiser 200 4.5L Premium Detail,₱4.28 Million,2017,2017,8 seat,Diesel,Suv,"15,000 Km",First Owner,Automatic,Quezon City,4461 CC
5,2019 Mercedes-Benz C-Class Coupe C 300 Detail,₱4.35 Million,2021,2019,4 seat,Gasoline,Coupe,"30,000 Km",First Owner,Automatic,Las Piñas,1991 CC
6,2018 Toyota Land Cruiser 200 4.5L DSL AT Detail,₱4.36 Million,2018,2018,8 seat,Diesel,Suv,"40,000 Km",First Owner,Automatic,Quezon City,4461 CC
7,2015 Lexus LS L Detail,₱4.5 Million,2015,2015,NaN,Gasoline,Sedan,"60,000 Km",Second Owner,Automatic,Taguig,NaN
8,2020 Land Rover Range Rover Evoque SE 2.0 Dies...,₱4.55 Million,2023,2020,5 seat,Diesel,Suv,"7,000 Km",First Owner,Automatic,Apalit,1999 CC
9,2023 Hyundai Santa Fe 2.5T Calligraphy AWD Detail,₱4.6 Million,2023,2023,7 seat,Gasoline,Suv,"5,000 Km",First Owner,Dual-clutch,Manila,2497 CC
10,2022 Kia Carnival 2.2 EX 7-Seater AT Detail,₱4.7 Million,2022,2022,7 seat,Diesel,Mpv,"15,000 Km",First Owner,Automatic,Manila,2151 CC
11,2022 Land Rover Range Rover Velar S D200 With ...,₱4.8 Million,2022,2022,5 seat,Diesel,Suv,"20,000 Km",First Owner,Automatic,Quezon City,1999 CC
12,2018 Toyota Land Cruiser 200 4.5 Full Option 4...,₱4.85 Million,2018,2018,NaN,Diesel,Suv,"25,000 Km",First Owner,NaN,Quezon City,NaN
13,2020 Toyota Fortuner 2.8 V Diesel 4x4 AT Detail,₱4.89 Million,NaN,2020,7 seat,Diesel,Suv,"2,000 Km",First Owner,Automatic,Pasig,2765 CC
14,2012 Nissan GT-R Premium Detail,₱4.98 Million,NaN,2012,4 seat,Gasoline,Coupe,"16,000 Km",First Owner,Automatic,Quezon City,3797 CC

Over 5000000

In [ ]:
df_40m = df.copy()
df_40m = df_40m.drop_duplicates().reset_index(drop=True)
display(df_40m)
df_40m.to_csv("df_40m.csv")

,model,price,make_year,seats,fuel_type,body_type,kms_driven,ownership,transmission,city,engine_displacement,registration_year
0,2019 Chevrolet Camaro 6.2L AT Detail,₱5.28 Million,2019,4 seat,Gasoline,Coupe,900 Km,First Owner,Manual,Quezon City,NaN,NaN
1,2011 Shelby Mustang 5.0L AT Detail,₱5.28 Million,2011,NaN,Gasoline,Coupe,1 Km,First Owner,Automatic,Paranaque,4998 CC,NaN
2,2017 Shelby Mustang GT350 Detail,₱5.35 Million,2017,NaN,Gasoline,Coupe,1 Km,First Owner,Automatic,Mandaue City,NaN,2017
3,2021 BMW X5 xDrive30d Detail,₱5.35 Million,2021,5 seat,Diesel,Suv,"10,000 Km",First Owner,Automatic,Makati City,2993 CC,2022
4,2007 Chevrolet BT Cruiser 5.3L Detail,₱5.4 Million,2007,NaN,Gasoline,Suv,"6,000 Km",First Owner,Automatic,Pasig,NaN,2007
5,2014 Mercedes-Benz S-Class S500 4.7L Detail,₱5.4 Million,2014,NaN,Gasoline,Sedan,"21,000 Km",First Owner,Automatic,Quezon City,NaN,NaN
6,2018 Porsche 718 Boxster PDK Detail,₱5.5 Million,2018,2 seat,Gasoline,Convertibles,"12,000 Km",First Owner,Automatic,Makati City,1988 CC,2018
7,2018 Mercedes-Benz GL Class 350 BlueTec 4 Mati...,₱5.68 Million,2018,7 seat,Diesel,Suv,"4,000 Km",First Owner,Automatic,Cebu City,2987 CC,2018
8,2022 Land Rover Range Rover Velar S D200 With ...,₱5.8 Million,2022,5 seat,Diesel,Suv,"20,000 Km",First Owner,Automatic,Makati City,1999 CC,2022
9,2017 Cadillac Escalade ESV Platinum Detail,₱5.88 Million,2017,7 seat,Gasoline,Suv,NaN,First Owner,Automatic,Quezon City,5998 CC,NaN
10,2017 Cadillac Escalade ESV Platinum Detail,₱5.888 Million,2017,7 seat,Gasoline,Suv,NaN,First Owner,Automatic,Cavite City,5998 CC,NaN
11,2019 Porsche Cayman PDK Detail,₱5.98 Million,2019,2 seat,Gasoline,Coupe,NaN,First Owner,Automatic,Quezon City,2706 CC,NaN
12,2019 Audi RS5 Coupe 2.9L TFSI Detail,₱5.995 Million,2019,4 seat,Gasoline,Coupe,"1,000 Km",First Owner,Automatic,Quezon City,2894 CC,2019
13,2014 Maserati Quattroporte Quattroporte Detail,₱6 Million,2014,NaN,Gasoline,Sedan,"5,000 Km",First Owner,Automatic,Quezon City,NaN,NaN
14,2022 Ford Mustang Shelby GT500 Detail,₱6.5 Million,2022,4 seat,Gasoline,Coupe,630 Km,First Owner,Automatic,Makati City,5208 CC,2022
15,2022 Hyundai Staria 2.2 CRDi Premium+ 8AT AWD ...,₱6.8 Million,2022,7 seat,Diesel,Mpv,300 Km,First Owner,Automatic,Quezon City,2199 CC,2022
16,2022 Ford Bronco Badlands Detail,₱6.8 Million,2022,5 seat,Gasoline,Suv,100 Km,First Owner,Automatic,Manila,1998 CC,2022
17,2019 Audi Q7 3.0 TDI Quattro Premium Detail,₱6.8 Million,2019,7 seat,Diesel,Suv,"4,397 Km",Second Owner,Automatic,Quezon City,2967 CC,2019
18,2010 Porsche 911 Carrera S PDK Detail,₱7.288 Million,2010,4 seat,Gasoline,Coupe,NaN,First Owner,Dual-clutch,Paranaque,3800 CC,NaN
19,2020 Toyota Land Cruiser LC300 VX Detail,₱8 Million,2020,7 seat,Diesel,Suv,"15,000 Km",First Owner,Automatic,Muntinlupa,3346 CC,2020
20,2009 Bentley Continental GT V8 Detail,₱8.5 Million,2009,4 seat,Gasoline,Coupe,"15,000 Km",First Owner,Automatic,Makati City,3996 CC,2023
21,2022 BMW M3 Sedan Competition 3.0L Detail,₱8.5 Million,2022,5 seat,Gasoline,Sedan,190 Km,First Owner,Automatic,Muntinlupa,2993 CC,2022
22,2022 Porsche 718 Boxster GTS 4.0 PDK Detail,₱8.5 Million,2022,2 seat,Gasoline,Convertibles,"20,000 Km",First Owner,Automatic,Mandaluyong City,3995 CC,2022
23,2017 Land Rover Range Rover HSE D350 Detail,₱8.9 Million,2017,7 seat,Diesel,Suv,"35,000 Km",First Owner,Automatic,Makati City,2997 CC,2017
24,2019 Maserati Quattroporte 3.0L Detail,₱9.5 Million,2019,5 seat,Gasoline,Sedan,"5,000 Km",First Owner,Automatic,Manila,NaN,2019
25,2007 Toyota Hilux 2.4 J DSL 4x2 M/T Detail,₱11 Million,2007,5 seat,Diesel,Pickup-trucks,"100,000 Km",First Owner,Manual,Pagsanjan,2393 CC,2023
26,2022 Toyota Land Cruiser LC300 VX Detail,₱11.5 Million,2022,7 seat,Diesel,Suv,"5,000 Km",First Owner,Automatic,Manila,3346 CC,2022
27,2018 Audi R8 5.2 L Detail,₱11.8 Million,2018,2 seat,Gasoline,Coupe,"12,538 Km",First Owner,Automatic,Quezon City,5204 CC,2024
28,2022 Chevrolet Corvette 6.2L Detail,₱11.888 Million,2022,NaN,Gasoline,Coupe,NaN,First Owner,Automatic,Paranaque,NaN,NaN
29,2020 Porsche 911 GT3 PDK Detail,₱12 Million,2020,2 seat,Gasoline,Coupe,"12,000 Km",First Owner,Dual-clutch,Norzagaray,3799 CC,2020
30,2015 Porsche 911 Turbo S PDK Detail,₱14.9 Million,2015,4 seat,Gasoline,Coupe,"15,000 Km",Second Owner,Dual-clutch,Manila,3800 CC,2019
31,2018 Rolls-Royce Ghost 6.6L Detail,₱18.5 Million,2018,NaN,Gasoline,Sedan,"20,000 Km",First Owner,Automatic,Manila,NaN,2018
32,2022 Cadillac Escalade ESV Platinum Detail,₱19 Million,2022,7 seat,Gasoline,Suv,10 Km,First Owner,Automatic,Manila,5998 CC,2022
33,2024 Ferrari F8 Tributo 3.9L Detail,₱20.5 Million,2024,2 seat,Gasoline,Coupe,"16,000 Km",First Owner,Automatic,Imus,3902 CC,2024
34,2023 Bentley Bentayga V8 Detail,₱21 Million,2023,5 seat,Gasoline,Suv,"30,000 Km",First Owner,Automatic,Olongapo City,3996 CC,2023
35,2023 Lamborghini Urus 4.0 L Detail,₱29.5 Million,2023,5 seat,Gasoline,Suv,"1,300 Km",First Owner,Automatic,Muntinlupa,3996 CC,2023

Consolidated:

In [ ]:
all_data = pd.DataFrame()
all_data = pd.concat([df_100k, df_150k, df_200k, df_250k, df_300k, df_350k, df_400k, df_450k, df_500k, df_550k, df_600k, df_700k, df_650k, df_700k, df_750k, df_800k, df_850k, df_900k, df_950k, df_1m, df_1_1m, df_1_2m, df_1_3m, df_1_4m, df_1_5m, df_2m, df_3m, df_4m, df_5m, df_40m]).drop(['Unnamed: 0'], axis=1)
display(all_data)
all_data.to_csv("all_data.csv")

,model,price,registration_year,make_year,fuel_type,body_type,kms_driven,ownership,transmission,city,seats,engine_displacement
0,1990 Nissan Sentra 1.6L SGX MT Detail,"₱45,000",1990,1990,Gasoline,Sedan,"61,233 Km",First Owner,Manual,Quezon City,NaN,NaN
1,2021 Suzuki Celerio CVT 1.0L Detail,"₱60,000",2024,2021,Gasoline,Hatchback,"12,000 Km",First Owner,Cvt,Pasig,5 seat,998 CC
2,1994 Nissan Vanette 2.0L Vanette MT Detail,"₱70,000",2023,1994,Gasoline,Van,"84,710 Km",Second Owner,Manual,Quezon City,NaN,NaN
3,2000 Nissan Sentra 1.6L Super Saloon MT Detail,"₱70,000",2024,2000,Gasoline,Sedan,"150,000 Km",Second Owner,Manual,Mandaluyong City,NaN,NaN
4,1997 Mazda 3 Sedan 2.0L Premium Detail,"₱75,000",2019,1997,Gasoline,Sedan,"90,000 Km",Third Owner,Automatic,san-fernando,5 seat,1998 CC
...,...,...,...,...,...,...,...,...,...,...,...,...
31,2018 Rolls-Royce Ghost 6.6L Detail,₱18.5 Million,2018,2018,Gasoline,Sedan,"20,000 Km",First Owner,Automatic,Manila,NaN,NaN
32,2022 Cadillac Escalade ESV Platinum Detail,₱19 Million,2022,2022,Gasoline,Suv,10 Km,First Owner,Automatic,Manila,7 seat,5998 CC
33,2024 Ferrari F8 Tributo 3.9L Detail,₱20.5 Million,2024,2024,Gasoline,Coupe,"16,000 Km",First Owner,Automatic,Imus,2 seat,3902 CC
34,2023 Bentley Bentayga V8 Detail,₱21 Million,2023,2023,Gasoline,Suv,"30,000 Km",First Owner,Automatic,Olongapo City,5 seat,3996 CC
35,2023 Lamborghini Urus 4.0 L Detail,₱29.5 Million,2023,2023,Gasoline,Suv,"1,300 Km",First Owner,Automatic,Muntinlupa,5 seat,3996 CC